@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
}

html{
   scroll-behavior:smooth;
}


/* REUSABLE */
.row{
   max-width: 1350px;
   margin: 0 auto;
}


/* HEADER */



.logo a img{
   position: absolute;
   top: 0.25%;
   transition: 0.4s ease;
   width: 80px;
}

.logo a img:hover{
   transform: rotate(10deg) scale(1.25);
}

.navbar {
   top:0;
   left: 0;
   width: 100%;
   padding: 25px 75px;
   display: flex;
   justify-content: flex-end;
   z-index: 100;
}

.navbar-wrap {
   width: 100%;
   background: radial-gradient(circle, rgb(45, 35, 17) 0%, rgb(0, 0, 0) 100%);
}

nav .ease-a{
   font-size: 1.5rem;
   color:#bba411;
   text-shadow: 2px 2px 8px black;
   font-weight: 600;
   text-decoration: none;
   margin-left: 15px;
   transition: 0.5s;
}

nav .ease-a:hover{
   transform: translateY(0.15rem)
}

nav .ease-a::before{
   content: '';
   height: 2px;
   width: 0%;
   background-color: rgb(45, 35, 17);
   position: absolute;
   transition: 0.5s;
   bottom: -8px;
}

nav .ease-a:hover::before{
   content: '';
   height: 2px;
   width: 100%;
   position: absolute;
   background-color: #fff;
}

.ham-bar-men{
   position: absolute;
   right: 50px;
   top: 50px;
   display: flex;
   justify-content: end;
}

.hamburger{
   position: relative;
   display:block;
   width: 55px;
   cursor: pointer;
   appearance: none;
   background: none;
   outline: none;
   border: none;
   z-index: 101;
}

.hamburger .bar, .hamburger::after, .hamburger::before{
   content: '';
   display: block;
   width: 100%;
   height: 10px;
   background-color: #ffffff;
   margin: 6px 0px;
   transition: 0.4s;
}

.hamburger.is-active::before{
   transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active::after{
   transform: rotate(45deg) translate(-12px, -16px);
}

.hamburger.is-active .bar{
   opacity: 0;
}



.mobile-nav{
   display: block;
   position: fixed;
   top:0;
   left: 100%;
   width: 100%;
   min-height: 100vh;
   z-index: 98;
   background-color: aqua;
   padding-top: 120px;
   transition: 0.4s;
}

.mobile-nav.is-active{
  left: 0;
}

.mobile-nav a{
   display: block;
   width: 100%;
   max-width: 300px;
   margin: 0 auto 16px;
   text-align: center;
   margin-bottom: 16px;
   padding: 12px 16px;
   background-color: #1f003F;
   color: #fff;
   text-decoration: none;
}


.welcome-text-wrapper{
   position: relative;
}

.welcome-text h1{
   position: absolute;
   top: 30vh;
   width: 75%;
   font-size: clamp(35px, 5vh, 100px);
   color: #fff;
   z-index: 95;
}

.slider{
   width:100%;
   overflow: hidden;
}

.slides{
   width: 500%;
   height: 85vh;
   display: flex;
}

.slides input{
   display: none;
}

.slide{
   width: 20%;
   transition: 2s;
   overflow: hidden;
}

.slide img{
   min-width: 100%;
   min-height: 100%; 
   z-index: 1;
   filter: saturate(75%) blur(1px) sepia(50%);
}

.radio-manual{
   display: flex;
   justify-content: center;
   align-items: start;
}

.navigation-manual{
   position: absolute;
   margin-top: -80vh;
   display: flex;

}

.manual-btn{
   border: 2px solid #fff;
   padding: 0.5rem;
   border-radius: 1rem;
   cursor: pointer;
   transition:0.5s;
   margin-left: -15px;
}

.manual-btn:not(:last-child){
   margin-right: 40px;
}

.manual-btn:hover{
   background: #bba411;
   border: 2px solid #bba411;
   border-radius: 5px;
}

#radio1:checked ~ .first{
   margin-left: 0;
}
#radio2:checked ~ .first{
   margin-left: -20%;
}
#radio3:checked ~ .first{
   margin-left: -40%;
}
#radio4:checked ~ .first{
   margin-left: -60%;
}
#radio5:checked ~ .first{
   margin-left: -80%;
}


/* MAIN */

main{
   padding-bottom: 15vh;
   background-image: url(images/images.jpg);
   background-attachment: fixed;
   background-size: cover;
   background-position: center;
}

.about-us{
   display: flex;
   flex-direction: row;
}

.about-us-text{
   position: relative;
   background: linear-gradient(0deg, rgb(23, 15, 4) 0%, rgb(40,33,21) 100%);
   top: -5rem;
   font-size: 1.25rem;
   margin: 5px;
   padding: 25px;
   border-radius: 50px 50px 50px 5px;
   text-align: left;
   color: #fff;
   box-shadow: 20px 20px 20px #0000005a;
   transition: 0.5s ease-out;
}

.about-us-text:hover{
   transform: scale(1.05);
}


.major-title{
   display: flex;
   justify-content: center;
}

.title-header2 h2{
   font-size: 2rem;
   color:#bba411;
   text-shadow: 2px 2px 8px black;
   font-weight: 600;
   border-bottom: 2px solid #fff;
   text-align: center;
}

.filler-text-wrap{
   display: flex;
   justify-content: center;
   flex: 1;
}

.filler-text{
   flex: 1;
}
.filler-text p{
   margin-top: 4%;
   margin-bottom: 4%;
   color: #fff;
   font-size: 1.5rem;
   font-weight: 300;
   text-align:start;
}

.weather-card{
   margin-top: 50px;
   background: linear-gradient(0deg, rgb(23, 15, 4) 0%, rgb(40,33,21) 100%);
   border-radius: 25px;
   box-shadow: 20px 20px 20px #0000005a;
}

.weather{
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex-wrap:wrap;
}

.weather p{
   color: #ffffff;
   font-size: 1.5rem;
   font-weight: 600;
}

.main-details-nemcice{
   display: flex;
   align-items: center;
}

.col{
   display: flex;
   justify-content: space-around;
}

.col img{
   margin-right: 2rem;
}

.operating-rules-wrapper{
   display: flex;
   justify-content: center;
   text-align: center;
   padding: 10px;
}

.operating-rules{
   text-decoration: none;
   color: #fff;
   text-align: center;
   font-size: 2rem;
   background: linear-gradient(0deg, rgb(23, 15, 4) 0%, transparent 0%);
   width: 300px;
   border-radius: 15px;
   transition: 0.5s ease;
}

.operating-rules:hover{
   text-decoration: none;
   color: #fff;
   text-align: center;
   font-size: 2rem;
   background: linear-gradient(0deg, rgb(23, 15, 4) 0%, transparent 100%);
   width: 400px;
   border-radius: 15px;
}

.coordination-wrapper{
   display: flex;
   justify-content: center;
   text-align: center;
   padding: 10px;
   margin-top: -10vh;
   margin-bottom: 5vh;
}

.coordination{
   text-decoration: none;
   color: #fff;
   text-align: center;
   font-size: 2rem;
   background: linear-gradient(0deg, rgb(23, 15, 4) 0%, transparent 0%);
   width: 300px;
   border-radius: 15px;
   transition: 0.5s ease;
}

.coordination:hover{
   text-decoration: none;
   color: #fff;
   text-align: center;
   font-size: 2rem;
   background: linear-gradient(0deg, rgb(23, 15, 4) 0%, transparent 100%);
   width: 400px;
   border-radius: 15px;
}

.our-airport-photo{
   display: flex;
   justify-content: space-around;
}

.photo-map-one,
.photo-map-two {
   flex: 1;
   max-width: 100%;
   margin: 3rem 0 10rem 0;
   position: relative;
   display: flex;
}

.photo-map-one iframe{
   width: 75%;
   margin: 0 auto;
   border-radius: 25px;
   box-shadow: 20px 20px 20px #0000005a;
   filter: sepia(50%);
}


.photo-map-two img{
   width: 75%;
   margin: 0 auto;
   object-fit: cover;
   border-radius: 25px;
   box-shadow: 20px 20px 20px #0000005a;
   transition: 0.5s ease-out;
   filter: sepia(50%);
}


.about-club{
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   justify-content: space-evenly;
   column-gap: 100px;
   margin-top: 20px;
   margin-bottom: 20px;
}

#filler-one,
#filler-two{
   text-align: justify;
}

.photogallery-ind{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
}

 
.photogallery-ind img{
   width: 25%;
   margin: 1%;
   border-radius: 25px;
   transition: 1s ease-out;
   margin-top: 5em;
   margin-bottom: 10em;
   filter: sepia(50%);
}

.form-wrapper{
   display: flex;
   justify-content: center;
}

.form-area{
   display: flex;
   align-items: center;
   justify-content: center;
   width: 500px;
   height: 500px;
   background:linear-gradient(0deg, rgb(23, 15, 4) 0%, rgb(40,33,21) 100%);;
   border-radius: 25px;
   flex-wrap: wrap;
   box-shadow: 20px 20px 20px #0000005a;
}

.details-area{
   display: flex;
   flex-direction: column;
   row-gap: 2rem;
   padding-top: 20px;
   padding-bottom: 20px;
   height: 100%;
   justify-content: space-evenly;
   align-items: center;
}

.details-area input[type=text],
.details-area input[type=email]{
   width: 350px;
   height: 50px;
   border-radius: 25px;
   padding: 20px;
   border: 0;
   outline: 0;
   font-size: 1.15rem;
   text-align: left;
   transition: 0.5s ease-out;
   background: rgb(23, 15, 4);
}

.details-area input[type=text]:focus,
.details-area input[type=email]:focus{
   height: 75px;
   width: 400px;
   box-shadow: 0px 5px 15px #bba411;
}


.details-area input[type=submit]{
   width: 350px;
   height: 150px;
   text-align: center;
   border-radius: 25px;
   border: 0;
   outline: 0;
   font-size: 1.15rem;
   transition: 0.5s ease;
   background: #bba411;
   color: #fff;
}

.details-area input[type=submit]:hover{
   background-color: rgb(23, 15, 4);
   color: #fff;
   box-shadow: 0px 5px 15px #bba411;
}

.message-area{
   text-align: center;
   justify-content: center;
   height: 100%;
   width: 100%;
}

.message-area textarea{
   width: 350px;
   height: 175px;
   border-radius: 25px;
   padding: 15px;
   border: 0;
   outline: 0;
   text-align: left;
   font-size: 1.15rem;
   overflow: hidden;
   transition: 0.5s ease-out;
   resize: none;
   background: rgb(23, 15, 4);
}

.message-area textarea:focus{
   box-shadow: 0px 5px 15px #bba411;
   height: 200px;
   width: 400px;
}

.success-or-error{
   height: 30%;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.form-result p{
   color: #fff;
}

.success{
   background-color: rgb(7, 85, 7);
   border-radius: 5px;
   padding: 5px;
}

.error{
   background-color: rgb(174, 0, 0);
   border-radius: 5px;
   padding: 5px;
}


/* Footer */

/* TOP */
.wrap-social{
   background: radial-gradient(circle, rgb(45, 35, 17) 0%, rgb(0, 0, 0) 100%);
}

.social-media{
   display: flex;
   justify-content: space-between;
}

.social-media img{
   display: block;
   width: 50px;
   margin: 0.5rem;
   transition: 0.5s;
}

.social-media p{
   margin: auto 0;
   font-weight: 500;
   color:#fff;
}

.social-media img:hover{
   transform: scale(1.1);
}

/* MIDDLE */

.footer-middle{
   background:radial-gradient(circle, rgb(187, 164, 17) 0%, rgb(45, 35, 17) 100%);
}

.footer-middle-all{
   display: flex;
   justify-content: space-between;
}

.footer-one,
.footer-two,
.footer-three {
  flex: 1;
  padding: 2rem 0.25rem;
}

.footer-one{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: center;
   padding-left: 1rem;
}

.footer-one a{
   color: #fff;
   text-decoration: none;
   font-size: 1.15rem;
   line-height: 2.5rem;
   transition: 0.4s;
}

.footer-one a:hover{
  transform: scale(1.1) translateX(1rem);
}

.footer-two{
   padding: 1rem;
   font-size: 1.15rem;
   color: #fff;

}

.footer-two h2{
   font-size: 1.5rem;
   margin-bottom: 2rem;
}

.letu-zdar{
   font-size: 1.25rem;
   font-weight: 600;
}

.contact-small{   
   display: flex;
   flex-direction: column;
}

.contact-small-one{
   font-size: 1rem;
   color: #fff;
   line-height: 2rem;
   padding-bottom: 20px;
}

.contact-small-one p{
   line-height: 1.5rem;
   text-align: end;
}

.contact-small-one h3{
   text-align: end;
}


.contact-small-two{
   font-size: 1rem;
   color: #fff;
   line-height: 2rem;
}

.contact-small-two p{
   line-height: 1.5rem;
   text-align: end;
}

.contact-small-two h3{
   text-align: end;
}


.wrap-madeby{
   background-color: #000000;
}

.made-by p{
   text-align: center;
   color: #fff;
   font-weight: 500;
   padding: 1rem;
}