@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
}


/* REUSABLE */
.row{
   max-width: 1240px;
   margin: 0 auto;
}


/* HEADER */
header{
   min-height: 95vh;
   background: url(images/foto1.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
}

.logo a img{
   position: absolute;
   top: 0.5%;
   transition: 0.2s ease-in-out;
}

.logo a img:hover{
   transform: scale(1.5);
}


.navbar {
   top:0;
   left: 0;
   width: 100%;
   padding: 25px 75px;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   z-index: 100;
}

.navbar-wrap {
   width: 100%;
   margin: 0 auto;
   background: rgba(255, 255, 255, 0.85);
}

nav a{
   position: relative;
   font-size: 1.5rem;
   color:rgb(12, 12, 159);
   font-weight: 600;
   text-decoration: none;
   margin-left: 15px;
}

nav a::before{
   content: '';
   height: 2px;
   width: 0%;
   background-color: #fff;
   position: absolute;
   transition: 0.5s;
   bottom: -8px;
}

nav a:hover::before{
   content: '';
   height: 2px;
   width: 100%;
   position: absolute;
   background-color: rgb(12, 12, 159);
}

.welcome-text h1{
   position: absolute;
   top: 50vh;
   left:5%;
   width: 50%;
   font-size: 4rem;
   color: #fff;
}

/* MAIN */

main{
   background: linear-gradient(rgb(255, 255, 255),rgba(0, 0, 0, 0.27),rgb(255, 255, 255));
   margin-bottom: 15vh;
}



.about-us{
   display: flex;
   flex-direction: row;
}

.about-us-text{
   background: linear-gradient(rgb(25, 59, 181),rgba(11, 110, 87, 0.875));
   position: relative;
   top: -5rem;
   color: black;
   font-size: 25px;
   margin: 5px;
   padding: 20px;
   border-radius: 5px 15px 55px 15px;
   text-align: left;
   color: #fff;
   box-shadow: 20px 20px 20px #0000004c;
   transition: 0.5s ease-in-out;
}

.about-us-text:hover{
   transform: scale(1.1);
}


.major-title{
   display: flex;
   justify-content: center;
}

.title-header2 h2{
   display: block;
   font-size: 2rem;
   color:rgb(12, 12, 159);
   font-weight: 600;
   border-bottom: 5px solid red;
}

.filler-text-wrap{
   display: flex;
   justify-content: center;
}

.filler-text p{
   margin-top: 4%;
   margin-bottom: 4%;
   color: 000;
   font-size: 1.5rem;
   font-weight: 300;
   text-align:justify
}


.photo-map img{
   width: 50%;
   display: block;
   margin-left: auto;
   margin-right: auto;
   border-radius: 25px;
   box-shadow: 20px 20px 20px #0000007c;
   margin-bottom: 100px;
   transition: 0.5s ease-in-out;
}

.photo-map img:hover{
   border: 5px solid #ffffff6e;
   transform: scale(1.5);
}

.about-club{
   display: flex;
   flex-direction: row;
}

/* .letistnikecani{
   margin: 4% 8% 4% 8%;
   color: 000;
   font-size: 1.5rem;
   font-weight: 200;
   text-align: justify;
} */

.photogallery-ind{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
}

 

.photogallery-small img{
   width: 25%;
   margin: 1%;
   border-radius: 25px;
   transform: rotate(-0.25turn);
   transition: 1s ease-out;
   margin-top: 5em;
   margin-bottom: 10em;
}

.photogallery-small img:hover{
   transform: scale(2);
   z-index: 1;
   border: 5px solid #ffffff6e;
}

/* .contact-phone{
   margin: 4% 8% 4% 8%;
   color: 000;
   font-size: 1.5rem;
   font-weight: 200;
   text-align: justify;
} */

.form-wrapper{
   display: grid;
   place-items: center;
   min-height: 20vh;
}

.form-area{
   max-width: 800px;
   height: auto;
   display: flex;
   background-color: black;
   border-radius: 25px;
   padding: 1.8rem;
}

.message-area{
   display: flex;
   flex-direction: column;
   order: 2;
}

.message-area textarea{
   flex: 1;
   min-width: 18rem;
   background: #ffffff9c ;
   color: #fff;
   padding: 15px;
   border: 0;
   border-radius: 25px;
}

.details-area{
   flex: 1;
   order: 1;
   margin-right: 1rem;
   text-align: center;
}

.details-area input{
   width: 450px;
   color: #fff;
   border-radius:50px;
   height: 50px;
   background: #ffffff9c;
   border: 0;
   padding: 1rem;
   margin-bottom: 1rem;
}

.details-area input[type=submit]{
   background: blue;
   color: #fff;
   border: 0;
   padding: 15px 50px;
   border-radius: 25px;
   text-transform: uppercase;
   margin-top: 30px;
   transition: 0.3s ease-in-out;
}

.details-area input[type=submit]:hover{
   transform: scale(1.025);
}


label{
   color: #fff;
   text-transform: uppercase;
   line-height: 40px;
}

/* Footer */

/* TOP */
.wrap-social{
   background-color: #00000067;
}

.social-media{
   display: flex;
   justify-content: space-between;
}

.social-media img{
   display: block;
   width: 50px;
   margin: 0.5rem;
   transition: 0.5s;
}

.social-media p{
   margin: auto 0;
   font-weight: 500;
}

.social-media img:hover{
   transform: scale(1.1);
}

/* MIDDLE */

.footer-middle{
   background-color: #00ff0828;
}

.footer-middle-all{
   display: flex;
   justify-content: space-between;
}

.footer-one,
.footer-two,
.footer-three {
  flex: 1;
  padding: 2rem 0.25rem;
}

.footer-one{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   padding-left: 1rem;
}

.footer-one a{
   color: #000;
   text-decoration: none;
   font-size: 1.15rem;
   line-height: 2.5rem;
   transition: 0.4s;
}

.footer-one a:hover{
  transform: scale(1.1) translateX(1rem);
}

.footer-two{
   padding: 1rem;
   font-size: 1.15rem;
   color: #000;

}

.footer-two h2{
   font-size: 1.5rem;
   margin-bottom: 2rem;
}



.contact-small{   
   display: flex;
   flex-direction: column;
}

.contact-small-one{
   font-size: 1rem;
   color: #000;
   line-height: 2rem;
   padding-bottom: 20px;
}

.contact-small-one p{
   line-height: 1.5rem;
   text-align: end;
}

.contact-small-one h3{
   text-align: end;
}


.contact-small-two{
   font-size: 1rem;
   color: #000;
   line-height: 2rem;
}

.contact-small-two p{
   line-height: 1.5rem;
   text-align: end;
}

.contact-small-two h3{
   text-align: end;
}


.wrap-madeby{
   background-color: #00000067;

}

.made-by p{
   text-align: center;
   color: #000;
   font-weight: 500;
   padding: 1rem;
}