*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

#map{
   margin-top: 10vh;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 25px;
   padding: 40px;
   background: linear-gradient(0deg, rgb(205,205,205), rgb(205,205,205));;
   box-shadow:  35px 35px 60px #adacac,
               -35px -35px 60px #f3f3f3;
}

#map iframe{
   border-radius: 25px;
}

main{
   padding-bottom: 15vh;
   padding-top: 5vh;
}

#id-of-map{
   color:#1b09a7;
   font-weight: 600;
   padding-top: 5vh;
   text-align: center;
}
