*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}


main{
   padding-bottom: 15vh;
}


.our-photos{
   margin-top: 10vh;

}

.our-photos p{
   color: #1b09a7;
   text-align: left;
   font-size: 1.5rem;
}

.our-photos p span{
   font-weight: 600;
}

.events{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   flex-wrap: wrap;
   margin-top: 10vh;
   row-gap: 3rem;
}

.event-cards{
   padding: 1rem;
   transition: 1s ease;
   background: rgb(205,205,205);
   box-shadow:  20px 20px 45px #adacac,
               -20px -20px 45px #f3f3f3;
   border-radius: 25px;
}

.photo-photo img{
   width: 250px;
   border-radius: 15px;
   filter: grayscale(100%);
   transition: 0.5s ease-out;
}

.photo-photo img:hover{
   filter: grayscale(0%);
}

.photo-text p{
   color:#1b09a7;
   font-weight: 600;
   font-size: 1.15rem;
}

.photo-date p{
   color: rgb(142, 144, 255);
   font-size: 1rem;
}


