@media only screen and (max-width: 1400px){
   .logo a img{
      margin-left: 50px;
   }

   .welcome-text h1{
      margin-left: 50px;
   }

   .about-us{
      margin: 0 50px;
   }

   .filler-text{
      margin-left: 50px;
      margin-right: 50px;
   }

   .photo-map-two img{
      margin-left: 50px;
      margin-right:  50px;
   }

   .photo-map-two img:hover{
      transform: skewY(-1deg) scale(1) rotateY(165deg); 
      filter: grayscale(0);
   }

   .our-airport-names{
      margin-left: 50px;
      margin-right:  50px;
   }

   .our-airport-photo{
      display: flex;
      margin-left: 50px;
      margin-right:  50px;
   }

   #title-blue-part1{
      margin-left: 50px;
      margin-right:  50px;
      font-size: 3rem;
   }

   .photogallery-ind{
      margin-left: 50px;
      margin-right:  50px;
   }

   .social-media{
      margin-left: 50px;
      margin-right: 50px;
   }

    .footer-middle-all{
      margin-left: 50px;
      margin-right: 50px;
   }

   .back-btn{
      margin-left: 50px;
      margin-top: 5px;
   }

   #map{
      margin-left: 50px;
      margin-right: 50px;
      padding: 25px;
      
   }

   #map iframe{
      height: 800px;
   }

   .rules-wrapper{
      margin-left: 50px;
      margin-right: 50px;
   }

   .our-photos{
      margin-left: 50px;
      margin-right: 50px;
   }

   .events{
      margin-left: 50px;
      margin-right: 50px;
   }

   .photos{
      margin-left: 50px;
      margin-right: 50px;
   }

   .events-bar{
      margin-left: 50px;
      margin-right: 50px;
   }

}

@media only screen and (max-width: 1200px){
   .weather{
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   .main-details-nemcice{
      margin-bottom: 2rem;
      
   }

   .main-details-nemcice p{
      font-weight: 600;
      font-size: 3rem;
   }

   .col{
      justify-content: space-between;
      min-width: 250px;
 
   }

   .col img{
      margin-left: 0rem;
   }

   #map iframe{
      height: 650px;
   }

   .rules{
      display: flex;
      flex-direction: column;
   }
   #id-of-rules{
      padding-top: 5vh;
   }  

   .rules-wrapper{
      padding-top: 5vh;
   }  

   .rules-text{
      margin-top: 5rem;
      width: 100%;
      align-items: center;
      row-gap: 2rem;
      padding-left: 0vh;
   }
   
   
   .header-for-ind-pics{
      padding-top: 5vh; 
   }

}


@media only screen and (max-width: 1100px){

   .event-bar-in{
      display: flex;
      flex-direction: column;
   }

   .event-bar-in img{
      width: 200px;
      border-radius: 15px;
      box-shadow:  5px 5px 10px rgb(78, 81, 255),
                  -5px -5px 10px rgb(193, 194, 255);
      height: 125px;
      object-fit: cover;
      margin-bottom: 1rem;
   }

   .event-details{
      display: flex;
      flex-direction: column;
      margin-left: 0rem;
   }

   .event-details-date{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }

   .event-details-date p{
      text-align: center;
   }

   .name-event{
      color: #fff;
      font-size: 1.5rem;
      font-weight: 600;
   }

   .date-of-action{
      color: #fff;
      margin-top: 1rem;
      font-size: 1.25rem;
      font-weight: 800;
   }

   .name-of-action{
      color:#fff;
      font-size: 1.15rem;
      text-align: center;
   }

   .disclaimer-one{
      display: block;
      letter-spacing: normal;
   }

   .disclaimer-text p{
      text-align: center;
      font-size: 1.5rem;
      font-weight: 700;
   }


}

@media only screen and (max-width: 1000px){

   .logo a img{
      display: none;
   }
   
   .navbar{
      display: none;
   }

   .radio-manual{
      display: flex;
      justify-content: flex-start;
      margin-left: 25px;
      
   }

   .navigation-manual{
      display: none;
   }

   .manual-btn{
      border: 2px solid #1b09a7;
      padding: 0.5rem;
   }

   .about-us{
      flex-direction: column;
   }

   .about-us-text:nth-child(1){
      min-height: 25vh;
      text-align: center;
      display: flex;
      align-items: center;
   }


   .about-us-text:nth-child(2),
   .about-us-text:nth-child(3){
      display: none;
   }
   
   .our-airport-names{
      display: none;
   }

   .our-airport-photo{
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
   }

   .photo-map-one{
      display: flex;
      justify-content: center;
      width: 100%;
      min-height: 500px;
   }

   .photo-map-two{
      display: flex;
      justify-content: center;
   }

   .about-club{
      column-gap: 0px;
   }

   #filler-one,
   #filler-two{
   text-align: center;
   }

   .photogallery-ind{
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   .card{
      width: 80%;
   }

   .filler-text p{
      text-align: center;
   }

   #map iframe{
      height: 500px;
   }

   .rules-text{
      margin-top: 5rem;
      width: 100%;
      align-items: flex-start;
      row-gap: 2rem;
      padding-left: 0vh;
   }

   .our-photos p{
      text-align: center;
   }
   

}

@media only screen and (min-width: 1000px){
   
   .mobile-nav{
      display: none;
   }

   .hamburger{
      display: none;
   }

}

@media only screen and (max-width: 900px){
   .photo-map-one{
      display: flex;
      justify-content: center;
      width: 100%;
      min-height: 400px;
   }

   .footer-one{
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   
   .footer-middle-all{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }

   .footer-two{
      text-align: center;
      background-image: url(../images/background-blue-part.jpg);
      background-attachment:fixed;
      width: 100vw;
      padding: 50px;
   }

   .contact-small-one p,
   .contact-small-two p{
      text-align: center;
   }

   .contact-small-one h3,
   .contact-small-two h3{
      text-align:center;
   }
}

@media only screen and (max-width: 800px){
   #map iframe{
      height: 400px;
   }
}


@media only screen and (max-width: 750px){
   .about-club{
      display: flex;
      flex-direction:column;
   }

   #filler-one,
   #filler-two{
   text-align: center;
   }
}

@media only screen and (max-width: 700px){
   .photo-map-one{
      display: flex;
      justify-content: center;
      width: 100%;
      min-height: 300px;
   }

   .form-area{
      width: 350px;
   }

   #input-text:focus,
   #input-email:focus{
      height: 60px;
      width: 300px;
   }
   
   .details-area{
      row-gap: 3rem;
   }

   .message-area textarea:focus{
      width: 300px;
      height: 200px;
   }

   .details-area input[type=submit]{
      width: 300px;
      font-weight: 400;
   }

   .details-area input[type=submit]:hover{
      width: 275px;
      height: 150px
   }
}

@media only screen and (max-width:600px){
   #map iframe{
      height: 300px;
   }
}


@media only screen and (max-width: 550px){
   .photo-map-one{
      display: flex;
      justify-content: center;
      width: 100%;
      min-height: 250px;
   }
}

@media only screen and (max-width: 500px){
   .photo-map-one{
      display: flex;
      justify-content: center;
      width: 100%;
      min-height: 200px;
   }

   #map iframe{
      height: 250px;
   }
}

@media only screen and (max-width: 450px){
   .about-us{
      padding-bottom: 0vh;
      justify-content: center;
      align-items: center;
   }

   .about-us-text{
      width: 90vw;
   }
   
   
   #title-blue-part3,
   #title-blue-part2,
   #title-blue-part1{
      margin-left: 25px;
      margin-right: 25px;
      font-size: 3rem;
   }
   
   #title-blue-part3{
      padding-bottom: 0vh;
   }

   #title-blue-part1{
      padding-bottom: 0vh;
      padding-top: 10vh;
   }

   #title-blue-part2{
      padding-top: 10vh;
      padding-bottom: 5vh;
   }


   #our-airport-text,
   #filler-one, #filler-two,
   #white-part-contact{
      font-size: 1.25rem;
      width: 90vw;
      text-align: justify;
   }

   /* #our-airport-text{
      width: 90vw;
   } */

   .contact{
      display: flex;
      justify-content: center;
   }

   .about-club{
      width: 90vw;
      justify-content: center;
      align-items: center;
   }

   .weather-card{
      margin-right: 25px;
      margin-left: 25px;
   }
   
   .weather-icon{
      width: 75px;
      height: 75px;
   }

   
   .weather p{
      font-size: 1.25rem;
   }

   .col{
      justify-content: space-around;
   }

   .coordination{
      max-width: 300px;
      font-size: 1.5rem;
   }

   .operating-rules{
      max-width: 300px;
      font-size: 1.5rem;
   }

   .our-airport-photo{
      margin-bottom: 0.5vh;
   }

   .photo-map-two{
      margin: 3rem 0 9rem 0; 
   }

   .photo-map-two img{
      width: 80vw;
   }

   .photo-map-one{
      display: none;
   }

   .photogallery-ind{
      margin: 0;
   }

   .card {
      width: 80vw;
   }
   

   .scroll-to-top-style.active-to-top img{
      bottom: 25vh;
      right: 30px;
      width: 60px;
      height: 60px;
   }

   .back-button{
      margin-top: -0.5vh;
   }

   .back-btn{
      width: 150px;
      justify-content: center;
      align-items: center;
   }

   .back-btn a{
      font-size: 0.75rem;
      text-align: center;
   }

   .footer-one{
      padding: 2rem 0rem;
   }

   .rules-wrapper{
      margin-left: 25px;
      margin-right: 25px;
   }

   .only-rules-text p{
      font-size: 1rem;
   }

   #map{
      margin-left: 25px;
      margin-right: 25px;
   }

   .events-bar{
      margin-left: 25px;
      margin-right: 25px;
   }

   .event-bar-in img{
      margin-top: 3vh;
      width: 250px;
      height: 150px;
   }

   .our-photos p{
      text-align: justify;
      width: 80vw;
      font-size: 1rem;
   }

   .our-photos-wrapper{
      display: flex;
      justify-content: center;
   }

   .events{
      margin-left: 0px;
      margin-right: 0px;
   }

   .event-cards{
      width: 90vw;
   }

   .photo-photo img{
      width: 100%;
   }

   .photo-text{
      text-align: center;
      padding: 10px;
   }

   .photo-text p{
      font-size: 1.25rem;
   }

   .photo-date{
      text-align: center;
   }

   .main-text p{
      font-size: 1.75rem;
   }

   .photos{
      column-gap: 1rem;
      row-gap: 1rem;
      margin-left: 25px;
      margin-right: 25px;
   }

   .ind-jpg img{
      width: 135px;
      height: 85px;
   }

}