@media only screen and (max-width: 1400px){
   .logo a img{
      margin-left: 50px;
   }

   .welcome-text h1{
      margin-left: 50px;
   }

   .about-us{
      margin: 0 50px;
   }

   .filler-text{
      margin-left: 50px;
      margin-right: 50px;
   }

   .text-lawnmover{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 50px;
      margin-right: 50px;
   }

   .photo-map-two img{
      margin-left: 50px;
      margin-right:  50px;
   }

   .our-airport-names{
      margin-left: 50px;
      margin-right:  50px;
      margin-top: 50px;
   }

   .our-airport-photo{
      display: flex;
      margin-left: 50px;
      margin-right:  50px;
   }

   .tractor-wrapper, .mountain-wrapper, .airfield-wrapper{
      display: none;
   }

   .our-airport-z-in::before{
      display: none;
   }
      

   #title-blue-part1{
      margin-left: 50px;
      margin-right:  50px;
      font-size: 3rem;
   }

   .odometer-rolling{
      margin-left: 50px;
      margin-right:  50px;
   }

   .photogallery-ind{
      margin-left: 50px;
      margin-right:  50px;
   }

   .social-media{
      margin-left: 50px;
      margin-right: 50px;
   }

    .footer-middle-all{
      margin-left: 50px;
      margin-right: 50px;
   }

   .back-btn{
      margin-left: 50px;
      margin-top: 5px;
   }

   #map{
      margin-left: 50px;
      margin-right: 50px;
      padding: 25px;
      
   }

   #map iframe{
      height: 800px;
   }

   .rules-wrapper{
      margin-left: 50px;
      margin-right: 50px;
   }

   .our-photos{
      margin-left: 50px;
      margin-right: 50px;
   }

   .events{
      margin-left: 50px;
      margin-right: 50px;
   }

   .photos{
      margin-left: 50px;
      margin-right: 50px;
   }

   .events-bar{
      margin-left: 50px;
      margin-right: 50px;
   }

   .main-text.event-aviatic{
      margin-left: 50px;
      margin-right: 50px;
   }

   .biggest-show-of-year{
      margin-left: 50px;
      margin-right: 50px;
   }

   .photos-and-videos{
      margin-left: 50px;
      margin-right: 50px;
   }

   .for-pilots-text{
      margin-left: 50px;
      margin-right: 50px;
   }

   .bye-bye-text{
      margin-left: 50px;
      margin-right: 50px;
   }

   .small-nav-wrapper{
      margin-left: 50px;
      margin-right: 50px;
   }

   .event-form{
      margin-left: 50px;
      margin-right: 50px;
   }

}

@media only screen and (max-width: 1350px){
   .card__description {
      font-size: 0.8rem;
    }

   .card__title {
      font-size:1.75rem;
   }
}

@media only screen and (max-width:1250px){
   .biggest-show-of-year p i{
      display: none;
   }
}

@media only screen and (max-width: 1200px){
   .about-us-text:nth-child(2),
   .about-us-text:nth-child(3){
      display: none;
   }

   .about-us-text{
      display: flex;
      flex-direction: row;
      text-align: left;
      padding-left: 50px;
      margin-top: -5vh;
   }

   .about-us-text p{
      font-size: 1.5rem;
   }

   .about-us-section{
      padding-right: 50px;
   }

   .weather{
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   .main-details-nemcice{
      margin-bottom: 2rem;
      
   }

   .main-details-nemcice p{
      font-weight: 600;
      font-size: 3rem;
   }

   .col{
      justify-content: space-between;
      min-width: 250px;
 
   }

   .col img{
      margin-left: 0rem;
   }

   #map iframe{
      height: 650px;
   }

   .rules{
      display: flex;
      flex-direction: column;
   }
   #id-of-rules{
      padding-top: 5vh;
   }  

   .rules-wrapper{
      padding-top: 5vh;
   }  

   .rules-text{
      margin-top: 5rem;
      width: 100%;
      align-items: center;
      row-gap: 2rem;
      padding-left: 0vh;
   }
   
   
   .header-for-ind-pics{
      padding-top: 5vh; 
   }

   .footer-three{
      display: flex;
      justify-content: right;
      align-items: center;
   }

}


@media only screen and (max-width: 1100px){

   .event-bar-in{
      display: flex;
      flex-direction: column;
   }

   .event-bar-in img{
      width: 200px;
      border-radius: 15px;
      box-shadow:  5px 5px 10px rgb(78, 81, 255),
                  -5px -5px 10px rgb(193, 194, 255);
      height: 125px;
      object-fit: cover;
      margin-bottom: 1rem;
   }

   .event-details{
      display: flex;
      flex-direction: column;
      margin-left: 0rem;
   }

   .event-details-date{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }

   .event-details-date p{
      text-align: center;
   }

   .name-event{
      color: #fff;
      font-size: 1.5rem;
      font-weight: 600;
   }

   .date-of-action{
      color: #fff;
      margin-top: 1rem;
      font-size: 1.25rem;
      font-weight: 800;
   }

   .name-of-action{
      color:#fff;
      font-size: 1.15rem;
      text-align: center;
   }

   .disclaimer-one{
      display: block;
      letter-spacing: normal;
   }

   .disclaimer-text p{
      text-align: center;
      font-size: 1.5rem;
      font-weight: 700;
   }

   .odometer-wrapper{
      max-width: 300px;
      max-height: 450px;
   }

   .odometers .odometer-wrapper:nth-child(1),
   .odometers .odometer-wrapper:nth-child(3){
      max-height: 300px;
      padding: 30px;
      max-width: 200px;
   }

   .subs-odometer{
      font-size: 7rem;
      font-weight: 700;
      letter-spacing: 0px;
   }

   .subs-odometer.odometer1,
   .subs-odometer.odometer3{
      font-size: 3.5rem;
   }

   #filler-one,
   #filler-two{
      font-weight: 200;
   }

   .profile-wrapper{
      display: flex;
      flex-direction: column;
   }

   .profile:not(:first-child){
      margin-top: -40px;
   }

   .profile img{
      max-width: 50%;
   }


}

@media only screen and (max-width: 1000px){

   .logo a img{
      display: none;
   }
   
   .navbar{
      display: none;
   }

   .radio-manual{
      display: flex;
      justify-content: flex-start;
      margin-left: 25px;
   }

   .navigation-manual{
      display: none;
   }

   .about-us-text{
      display: flex;
      margin-top: -5vh;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      padding: 25px;
   }

   .about-us-text p{
      font-size: 1rem;
   }

   .about-us-section{
      padding-right: 0px;
   }

   .our-airport-photo{
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
   }

   .our-airport-names p{
      font-size: 1.5rem;
   }

   .photo-map-one{
      display: flex;
      justify-content: center;
      width: 100%;
      
   }

   .photo-map-one iframe{
      height: 450px;
   }

   .photo-map-two{
      display: flex;
      justify-content: center;
   }

   .about-club{
      column-gap: 0px;
   }

   .photogallery-ind{
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   .card{
      width: 80%;
   }

   .card__title {
      margin: 0;
      font-size:2.5rem;
      color: #1b09a7;
      font-weight: 700;
      text-align: center;
    }
    
    .card__description {
      margin: 10px 0 0;
      font-size: 1.25rem;
      color: #777;
      text-align: center;
    }

   .filler-text p{
      text-align: center;
   }

   #map iframe{
      height: 500px;
   }

   .rules-text{
      margin-top: 5rem;
      width: 100%;
      align-items: flex-start;
      row-gap: 2rem;
      padding-left: 0vh;
   }

   .our-photos p{
      text-align: center;
   }
}

@media only screen and (min-width: 1000px){
   
   .mobile-nav{
      display: none;
   }

   .hamburger{
      display: none;
   }

}

@media only screen and (max-width: 900px){
   .photo-map-one{
      display: flex;
      justify-content: center;
      width: 100%;
      
   }

   .footer-one{
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   
   .footer-middle-all{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }

   .footer-two {
      text-align: center;
      width: 100vw;
      padding: 50px;
      background-color: #0e045a;
   }

   .contact-small-one p,
   .contact-small-two p{
      text-align: center;
   }

   .contact-small-one h3,
   .contact-small-two h3{
      text-align:center;
   }

}

@media only screen and (max-width: 800px){
   #map iframe{
      height: 400px;
   }

   
   .small-nav .one-piece-of-nav.active .content-of-nav{
   padding: 1rem;
   }

   .main-program{
      font-size: 1rem;
   }

   .small-nav .one-piece-of-nav .content-of-nav p{
      color: #fff;
      font-size: 0.75rem;
   }
   
   .small-nav .one-piece-of-nav .content-of-nav p span{
      font-weight: 600;
      font-size: 0.85rem;
   }
   
   .small-nav .one-piece-of-nav .content-of-nav p i{
      margin-right: 10px;
   }

   .small-nav .one-piece-of-nav .label-of-nav{
      font-size: 0.75rem;

   }
}


@media only screen and (max-width: 750px){
   .about-club{
      display: flex;
      flex-direction:column;
   }

   #filler-one,
   #filler-two,
   #filler-three{
   text-align: center;
   }

   #filler-one,
   #filler-two{
      font-size: 1.25rem;
   }

   #filler-three{
      font-size: 1.5rem;
      font-weight: 300;
   }

   .text-lawnmover p{
      color: #1b09a7;
      font-size: 1.25rem;
      font-weight: 300;
      text-align:center;
   }

   #our-airport-text,
   #our-airport-text3{
      font-size: 1.25rem;
      font-weight: 300;
   }

   .weather p{
      font-weight: 400;
   }

   .our-airport-names p{
      font-size: 1.25rem;
      font-weight: 400;
   }

   .odometer-rolling{
      margin-bottom: 5vh;
   }

   .odometers .odometer-wrapper:nth-child(1),
   .odometers .odometer-wrapper:nth-child(3){
      max-height: 200px;
      padding: 0px;
      max-width: 500px;
   }

   .odometers{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items:center;
   }

   .odometer-wrapper{
      flex: 1;
      display: flex;
      flex-direction: row;
      position: relative;
      max-width: 525px;
      max-height: 200px;
      width: 350px;
      color: #1b09a7;
      border-radius: 25px;
      background-color: rgb(205,205,205);
      padding: 0px;
      text-align: center;
      margin-bottom: 5%;
      z-index: 2;
      box-shadow:  3px 3px 30px #0000009f;
   }

   .more-odometer-and-more{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
   }

   .odometer-text{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 20px;
   }

   .odometer-inside{
      display: flex;
      flex-direction: row;
      max-width: 150px;
   }

   .odometer-details{
      width: 300px;
      flex-direction: column;
      align-items: center;
   }

   .subs-odometer{
      font-size: 4rem;
      font-weight: 800;
      letter-spacing: 1px;
   }

   .odometer-icon{
      flex: 1;
      width: 100px;
      padding-top: 0%;
      z-index: 10;
   }
   
   .odometer-icon img{
      width: 40%;
   }

   #white-part-contact{
      font-size: 1.25rem;
      font-weight: 300;
   }

   .profile-wrapper{
      margin: 20vh 0 25vh 0;
      display: flex;
      flex-direction: column;
   }

   .profile:not(:first-child){
      margin-top: 15px;
   }

   .profile img{
      max-width: 50%;
   }

   .profile:hover {
      transform: translateY(35px);
      filter: grayscale(0%);
   }

   .profile:nth-child(1):hover{
      transform: translateY(-25px);
   }

   .profile .name {
      position: absolute;
      background-color: #1b09a7;
      color: #fff;
      padding: 15px 30px;
      border-radius: 20px;
      top: -20%;
      left: 32%;
      white-space: nowrap;
      transform: translate(0%, 0px);
      letter-spacing: 1px;
      font-size: 1rem;
      font-weight: 600;
      opacity: 0;
      transition: all 0.3s;
      text-align: center;
   }
   
   .profile.profile-reversed .name{
      position: absolute;
      background-color: #1b09a7;
      color: #fff;
      padding: 15px 30px;
      border-radius: 20px;
      top: 138%;
      left: 29%;
      font-weight: 600;
      white-space: nowrap;
      transform: translate(0%, 0px);
      letter-spacing: 1px;
      font-size: 1rem;
      opacity: 0;
      transition: all 0.3s;
      text-align: center;
   }

   .profile .name::before {
      content: "";
      position: absolute;
      width: 15px; height: 15px;
      background-color: rgb(142, 144, 255);
      top: 100%; 
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
   }
   
   .profile.profile-reversed .name::before{
      content: "";
      position: absolute;
      width: 15px; height: 15px;
      background-color: rgb(142, 144, 255);
      top: 0%; 
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
   }

   .profile img:hover + .name {
      opacity: 1;
      transform: translateY(-75%);
      box-shadow: 0 10px 20px rgba(86, 86, 198, 0.3);
   }

   .about-event-bckgrd p{
      font-size: 1rem;
      font-weight: 300;
   }

   .biggest-show-of-year p{
      font-size: 1rem;
      font-weight: 300;
   }

   .for-pilots-text p{
      font-size: 1rem;
      font-weight: 300;
   }

   .bye-bye-text p{
      font-size: 2rem;
      font-weight: 600;
   }

   .photo-map-one{
      display: flex;
      justify-content: center;
      width: 100%;
   }

}

@media only screen and (max-width: 700px){
   .photo-map-one{
      display: none;
   }

   .threed-model, .connection{
      display: none;
   }

   .form-area{
      width: 350px;
   }

   .form-text{
      display: none;
   }

   #input-text:focus,
   #input-email:focus{
      height: 60px;
      width: 300px;
   }
   
   .details-area{
      row-gap: 3rem;
   }

   .message-area textarea:focus{
      width: 300px;
      height: 200px;
   }

   .details-area input[type=submit]{
      width: 300px;
      font-weight: 400;
   }

   .details-area input[type=submit]:hover{
      width: 275px;
      height: 150px
   }
}

@media only screen and (max-width:650px){
   .event-aviatic{
      margin-bottom: 10%;
   }

   .biggest-show-of-year{
      margin-bottom: 10%;
   }

   .biggest-show-of-year p{
      text-align: center;
   }

   .about-event-bckgrd p:nth-child(1){
      padding-top: 10%;
   }

   .about-event-bckgrd p:nth-child(2){
      padding-bottom: 10%;
   }

}

@media only screen and (max-width:600px){
   #map iframe{
      height: 300px;
   }

   .odometers .odometer-wrapper:nth-child(1),
   .odometers .odometer-wrapper:nth-child(3){
      max-height: 200px;
      padding: 0px;
      max-width: 500px;
   }

   .odometers{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items:center;
   }

   .odometer-wrapper{
      flex: 1;
      display: flex;
      flex-direction: row;
      position: relative;
      max-width: 525px;
      max-height: 200px;
      width: 350px;
      color: #1b09a7;
      border-radius: 25px;
      background-color: rgb(205,205,205);
      padding: 0px;
      text-align: center;
      margin-bottom: 5%;
      z-index: 2;
      box-shadow:  3px 3px 30px #0000009f;
   }

   .more-odometer-and-more{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
   }

   .odometer-text{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 0px;
   }

   .odometer-text p{
      font-size: 1rem;
      font-weight: 500;
   }

   .odometer-inside{
      display: flex;
      flex-direction: row;
      max-width: 150px;
   }

   .odometer-details{
      width: 300px;
      flex-direction: column;
      align-items: center;
   }

   .subs-odometer{
      font-size: 3rem;
      font-weight: 800;
      letter-spacing: 1px;
   }

   .subs-odometer.odometer1,
   .subs-odometer.odometer3{
      font-size: 3rem;
   }

   .odometer-icon{
      display: none;
   }
   
   .odometer-icon img{
      width: 40%;
   }

   .pop-up-event {
      background-color: #cdcdcd;
      max-width: 90%;
      max-height: 80%;
      width: 500px;
      padding: 30px 40px;
      position: fixed; 
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 25px;
      z-index: 100;
      display: none;
   }
   
   
   .pop-up-event h2{
      text-align: center;
      color: #1b09a7;
      font-size: 1.25rem;
   }
   
   .pop-up-event button{
      display: block;
      margin: 0 0 1px auto;
      background-color: transparent;
      font-size: 40px;
      color: #0e045a;
      border: none;
      outline: none;
      z-index: 100;
      cursor: pointer;
      transition: 0.5s all;
   }
   
   .pop-up-event p{
      font-size: 1rem;
      text-align: center;
      margin: 20px 0;
      z-index: 100;
   }
   
   .pop-up-event p span{
      font-weight: 700;
   }
   
   .pop-up-event a{
      display: block;
      width: 200px;
      position: relative;
      text-align: center;
      color: #fff;
      text-decoration: none;
      padding: 20px 5px;
      z-index: 100;
      border-radius: 25px;
      margin: 35px auto;
      transition: all 0.5s;
   }
   
   .pop-up-event a:hover{
      transform: scale(1.25);
   }
   
   .card__description {
      margin: 10px 0 0;
      font-size: 1rem;
      color: #777;
      text-align: center;
    }

    .card__title {
      margin: 0;
      font-size:1.5rem;
      color: #1b09a7;
      font-weight: 700;
      text-align: center;
    }

    .card__descr {
      font-size: 0.75rem;
      margin-bottom: 0.25rem;
   }
   
   .card__titleh3 {
      font-size: 1.25rem;
      font-weight: 600;
      color: #fff;
      margin-bottom: 0.75rem;
   }

   .video-ytb iframe{
      height: 300px;
      width:400px;
   }

   .picture-ytb img{
      height: 300px;
      width:400px;
   }

   .event-form{
      margin-left: 25px;
      margin-right: 25px;
   }

   .pilot-details input[type=text], .pilot-details input[type=email], .pilot-details .about-pilot textarea{
      padding-left: 10px;
      padding-right: 10px;
      font-size: 1rem;
   }

   .pilot-details input[type=submit]{
      font-size: 0.5rem;
   }


}

@media only screen and (max-width: 550px){
   .card__data{
      padding: 0.5rem 1.5rem;
   }

   .card__titleh3{
      margin-bottom: 0.25rem;
   }
   
}

@media only screen and (max-width: 500px){

   #map iframe{
      height: 250px;
   }

   .video-ytb iframe{
      height: 250px;
      width:325px;
   }

   .picture-ytb img{
      height: 250px;
      width:325px;
   }

}

@media only screen and (max-width: 450px){
   .about-us{
      padding-bottom: 0vh;
      justify-content: center;
      align-items: center;
      margin-bottom: 5vh;
      margin-left: 25px;
      margin-right: 25px;
   }

   .about-us-text{
      width: 90vw;
   }
   
   
   #title-blue-part3,
   #title-blue-part2,
   #title-blue-part1{
      margin-left: 25px;
      margin-right: 25px;
      font-size: 2.5rem;
   }
   
   #title-blue-part3{
      padding-bottom: 0vh;
      margin-bottom: -2vh;
   }

   #title-blue-part1{
      padding-bottom: 0vh;
      padding-top: 10vh;
   }

   #title-blue-part2{
      padding-top: 10vh;
      padding-bottom: 5vh;
   }


   #our-airport-text,#our-airport-text3{
      font-size: 1rem;
      width: 80vw;
      text-align: justify;
   }

   .filler-text{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
   }

   .text-lawnmover-wrap p{
      font-size: 1rem;
      text-align: justify;
      font-weight: 300;
      width: 80vw;
   }
   
   .filler-text-three-wrapper{
      display: flex;
      align-items: center;
      justify-content: center;
   }

   #filler-three{
      font-size: 1rem;
      text-align: justify;
      font-weight: 300;
      width: 80vw;
   }

   #filler-one, #filler-two{
      font-size: 1.15rem;
      text-align: center;
      font-weight: 400;
      width: 80vw;
   }

   .contact{
      display: flex;
      justify-content: center;
   }

   #white-part-contact{
      font-size: 1rem;
      width: 80vw;
      justify-content: center;
      align-items: center;
      text-align: justify;
   }

   .about-club{
      width: 90vw;
      justify-content: center;
      align-items: center;
   }

   .weather{
      margin-bottom: 5px;
   }

   .weather-card{
      margin-right: 25px;
      margin-left: 25px;
   }
   
   .weather-icon{
      width: 75px;
      height: 75px;
   }

   
   .weather p{
      font-size: 1.25rem;
   }

   .col{
      justify-content: space-around;
   }

   .coordination{
      max-width: 300px;
      font-size: 1.5rem;
      margin-bottom: 3vh;
      margin-top: 5vh;
   }

   .operating-rules{
      max-width: 300px;
      font-size: 1.5rem;
   }

   .operating-rules-wrapper{
      margin-bottom: 8vh;
   }

   .our-airport-photo{
      margin-bottom: 0vh;
   }

   .card__image{
      width: 100%;
   }

   .photo-map-two::after{
      content: '\f25a';
      font-family: "Font Awesome 5 Free"; 
      font-weight: 400; 
      font-size: 20px;
      position: absolute;
      bottom: 10%;
      right: 10%;
      color: #fff;
      opacity: 0.5;
   }

   .photogallery-ind{
      margin: 0;
   }

   .card {
      width: 80vw;
   }

   .card__title {
      margin: 0;
      font-size:1.5rem;
      color: #1b09a7;
      font-weight: 700;
      text-align: center;
   }

   .card__description {
      margin: 10px 0 0;
      font-size: 1rem;
      color: #777;
      text-align: center;
    }
   
   .scroll-to-top-style.active-to-top img{
      bottom: 25vh;
      right: 30px;
      width: 40px;
      height: 40px;
   }

   .back-button{
      margin-top: -0.5vh;
   }

   .back-btn{
      width: 150px;
      justify-content: center;
      align-items: center;
   }

   .back-btn a{
      font-size: 0.75rem;
      text-align: center;
   }

   .footer-one{
      padding: 2rem 0rem;
   }

   .rules-wrapper{
      margin-left: 25px;
      margin-right: 25px;
   }

   .only-rules-text p{
      font-size: 1rem;
   }

   #map{
      margin-left: 25px;
      margin-right: 25px;
   }

   .events-bar{
      margin-left: 25px;
      margin-right: 25px;
   }

   .event-bar-in img{
      margin-top: 3vh;
      width: 250px;
      height: 150px;
   }

   .our-photos p{
      text-align: justify;
      width: 80vw;
      font-size: 1rem;
   }

   .our-photos-wrapper{
      display: flex;
      justify-content: center;
   }

   .events{
      margin-left: 0px;
      margin-right: 0px;
   }

   .event-cards{
      width: 90vw;
   }

   .photo-photo img{
      width: 100%;
   }

   .photo-text{
      text-align: center;
      padding: 10px;
   }

   .photo-text p{
      font-size: 1.25rem;
   }

   .photo-date{
      text-align: center;
   }

   .main-text p{
      font-size: 1.75rem;
   }

   .photos{
      column-gap: 1rem;
      row-gap: 1rem;
      margin-left: 25px;
      margin-right: 25px;
   }

   .ind-jpg img{
      width: 135px;
      height: 85px;
   }

   .footer-middle-all p{
      font-size: 1rem;
   }

   .footer-two p{
      font-size: 1rem;
      text-align: left;
   }

   .footer-two h2{
      text-align: left;
   }

   .small-nav-wrapper{
      margin-left: 0px;
      margin-right: 0px;
   }

   .small-nav{
      box-shadow:  15px 15px 25px #adacac,
               -15px -15px 25px #f3f3f3;
   }

   .card__titleh3 {
      font-size: 1rem;
   }

   .card__data{
      width: 90%;
   }

   .card__descr {
      display: block;
      font-size: 0.75rem;
      margin-bottom: 0.25rem;
   }

   .for-pilots-text p{
      text-align: justify;
   }
   
}