@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
}

html{
   scroll-behavior:smooth;
}


/* Zarování */
.row{
   max-width: 1350px;
   margin: 0 auto;
}


/* HEADER */



.logo a img{
   position: absolute;
   top: 0.25%;
   transition: 0.4s ease;
   width: 80px;
}

.logo a img:hover{
   transform: rotate(10deg) scale(1.25);
}

.navbar {
   top:0;
   left: 0;
   width: 100%;
   padding: 25px 75px;
   display: flex;
   justify-content: flex-end;
   z-index: 100;
}

.navbar-wrap {
   width: 100%;
   background: linear-gradient(180deg, rgba(230,230,230,1) 0%, rgba(205,205,205,1) 100%);;
}

nav .ease-a{
   font-size: 1.5rem;
   color:#1b09a7;
   font-weight: 400;
   text-decoration: none;
   margin-left: 15px;
   border-radius: 15px;
   transition: 1s ease;
}


nav .ease-a:hover{
   transform: translateY(0.1rem)
}

nav .ease-a::before{
   content: '';
   height: 2px;
   width: 0%;
   background-color: #e6e6e6;
   position: absolute;
   transition: 0.5s;
   bottom: -8px;
}

nav .ease-a:hover::before{
   content: '';
   height: 2px;
   width: 100%;
   position: absolute;
   background-color: #1b09a7;
}

.ham-bar-men{
   position: absolute;
   right: 50px;
   top: 50px;
   display: flex;
   justify-content: end;
}

.hamburger{
   position: relative;
   display:block;
   width: 55px;
   cursor: pointer;
   appearance: none;
   background: none;
   outline: none;
   border: none;
   z-index: 101;
}

.hamburger .bar, .hamburger::after, .hamburger::before{
   content: '';
   display: block;
   width: 100%;
   height: 10px;
   background-color: #f3f3f3;
   margin: 6px 0px;
   transition: 0.4s;
}

.hamburger.is-active::before{
   transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active::after{
   transform: rotate(45deg) translate(-12px, -16px);
}

.hamburger.is-active .bar{
   opacity: 0;
}



.mobile-nav{
   display: block;
   position: fixed;
   top:0;
   left: 100%;
   width: 100%;
   min-height: 100vh;
   z-index: 98;
   background-color: aqua;
   padding-top: 120px;
   transition: 0.4s;
}

.mobile-nav.is-active{
  left: 0;
}

.mobile-nav a{
   display: block;
   width: 100%;
   max-width: 300px;
   margin: 0 auto 16px;
   text-align: center;
   margin-bottom: 16px;
   padding: 12px 16px;
   background-color: #1f003F;
   color: #fff;
   text-decoration: none;
}


.welcome-text-wrapper{
   position: relative;
}

.welcome-text h1{
   position: absolute;
   top: 30vh;
   width: 75%;
   font-size: clamp(35px, 5vh, 100px);
   color: #e6e6e6;
   z-index: 95;
}

.slider{
   width:100%;
   overflow: hidden;
}

.slides{
   width: 500%;
   height: 85vh;
   display: flex;
}

.slides input{
   display: none;
}

.slide{
   width: 20%;
   transition: 2s;
   overflow: hidden;
}

.slide img{
   min-width: 100%;
   min-height: 100%; 
   z-index: 1;
}

.radio-manual{
   display: flex;
   justify-content: center;
   align-items: start;
}

.navigation-manual{
   position: absolute;
   margin-top: -80vh;
   display: flex;

}

.manual-btn{
   border: 2px solid #fffde8;
   padding: 0.5rem;
   border-radius: 1rem;
   cursor: pointer;
   transition:0.5s;
   margin-left: -15px;
}

.manual-btn:not(:last-child){
   margin-right: 40px;
}

.manual-btn:hover{
   background: #1b09a7;
   border: 2px solid #1b09a7;
   border-radius: 5px;
   transform: scale(1.5);
}

#radio1:checked ~ .first{
   margin-left: 0;
}
#radio2:checked ~ .first{
   margin-left: -20%;
}
#radio3:checked ~ .first{
   margin-left: -40%;
}
#radio4:checked ~ .first{
   margin-left: -60%;
}
#radio5:checked ~ .first{
   margin-left: -80%;
}


/* MAIN */

main{
   background: #cdcdcd;
}

.about-us{
   display: flex;
   flex-direction: row;
   padding-bottom: 10vh;
}

.about-us-text{
   position: relative;
   background: linear-gradient(180deg, rgba(230,230,230,1) 0%, rgba(205,205,205,1) 100%);
   top: -5rem;
   font-size: 1.25rem;
   margin: 5px;
   padding: 25px;
   border-radius: 50px 50px 50px 5px;
   text-align: left;
   color: #1b09a7;
   box-shadow: 20px 20px 20px #0000005a;
   transition: 1s ease-out;
}

.about-us-text:hover{
   transform: scale(1.025);
}


.major-title{
   display: flex;
   justify-content: center;
}

.title-header2 h2{
   font-size: 2rem;
   color:#1b09a7;
   font-weight: 600;
   text-align: center;
   margin-bottom: 5vh;
}

.filler-text-wrap{
   display: flex;
   justify-content: center;
   flex: 1;
}

.filler-text{
   flex: 1;
}
.filler-text p{
   margin-top: 10%;
   margin-bottom: 10%;
   color: #1b09a7;
   font-size: 1.5rem;
   font-weight: 300;
   text-align:start;
}

.weather-card{
   margin-top: 50px;
   background: rgb(205,205,205);
   box-shadow:  25px 25px 45px #adacac,
               -25px -25px 45px #f3f3f3;
   border-radius: 25px;
}

.weather{
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex-wrap:wrap;
   min-height: 15vh;
   padding: 20px;
}

.weather-icon{
   width: 100px;
   height: 100px;
   margin-right: 2rem;
}

.weather p{
   color: #1b09a7;
   font-size: 1.5rem;
   font-weight: 500;
}

.main-details-nemcice{
   display: flex;
   align-items: center;
}

.col{
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.col img{
   margin-right: 1rem;
   margin-left: 3rem;
   width: 50px;
   height: 50px;
}

.operating-rules-wrapper{
   display: flex;
   justify-content: center;
   text-align: center;
   padding: 10px;
   margin-bottom: 10vh;
}

.operating-rules{
   display: flex;
   justify-content: center;
   align-items: center;
   text-decoration: none;
   color: #1b09a7;
   text-align: center;
   font-size: 2rem;
   width: 350px;
   height: 75px;
   border-radius: 12px;
   background: rgb(205,205,205);
   box-shadow:  15px 15px 35px #adacac,
               -15px -15px 35px #f3f3f3;
   transition: 0.5s;
}

.operating-rules:hover{
   color: rgb(142, 144, 255);
}

.coordination-wrapper{
   display: flex;
   justify-content: center;
   text-align: center;
   padding: 10px;
   margin-top: 10vh;
}

.coordination{
   display: flex;
   justify-content: center;
   align-items: center;
   text-decoration: none;
   color: #1b09a7;
   text-align: center;
   padding: 10px;
   font-size: 2rem;
   width: 350px;
   height: 75px;
   border-radius: 12px;
   background: rgb(205,205,205);
   background: linear-gradient(0deg, rgb(205,205,205), rgb(205,205,205));;
   box-shadow:  15px 15px 35px #adacac,
               -15px -15px 35px #f3f3f3;
   transition: 0.5s;
}

.coordination:hover{
   color: rgb(142, 144, 255);
}

.our-airport-names{
   display: flex;
   justify-content: center;
   margin-bottom: 2.5vh;
   margin-top: 10vh;
}

.our-airport-names p{
   font-size: 1.5rem;
   font-weight: 600;
}

.threed-model{
   text-align: center;
   flex: 1;
   color: #1b09a7;
   font-weight: 700;
}

.photo-of-airport{
   text-align: center;
   flex: 1;
   color: #1b09a7;
   font-weight: 800;
}

.our-airport-photo{
   display: flex;
   justify-content: space-around;
   margin-bottom: 15vh;
}

.photo-map-one,
.photo-map-two {
   display: flex;
   flex: 1;
   max-width: 100%;
   margin: 3rem 0 10rem 0;
   position: relative;
   perspective: 1000px;
}

.photo-map-one iframe{
   width: 75%;
   margin: 0 auto;
   border-radius: 25px;
   box-shadow: 20px 20px 20px #0000005a;
}
 
.photo-map-two img{
   width: 75%;
   margin: 0 auto;
   object-fit: cover;
   border-radius: 25px;
   box-shadow: 20px 20px 20px #0000005a;
   transition: 0.5s ease-out;
   filter: grayscale(100);
   transform: rotateY(180deg);
   transform-style: preserve-3d;
}

.photo-map-two img:hover{
   transform: skewY(-2deg) scale(1.5) rotateY(160deg); 
   filter: grayscale(0);
}


.blue-part{
   background-image: url(../images/background-blue-part.jpg);
   background-attachment:fixed;
   /* background-repeat:repeat-x; */
}

#title-blue-part1{
   padding-top: 15vh;
   padding-bottom: 10vh;
   color: white;
   font-size: 4rem;
}

#title-blue-part2{
   color: #1b09a7;
   padding-top: 15vh;
   padding-bottom: 10vh;
   font-size: 4rem;
}

#title-blue-part3{
   font-size: 4rem;
   padding-bottom: 5vh;
}

.about-club{
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   justify-content: space-evenly;
   column-gap: 100px;
}

#filler-one,
#filler-two{
   text-align: justify;
   color: #fff;
}

.photogallery-ind{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   column-gap: 2rem;
   row-gap: 2rem;
   justify-content: center;
   padding-top: 15vh;
   padding-bottom: 10vh;
}

.card {
   position: relative;
   width: 30%;
   height: 20%;
   background-color: #e6e6e6;
   border-radius: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
   overflow: hidden;
   perspective: 1000px;
   transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
 }
 
 .card img{
   width: 100%;
   height: auto;
   fill: #333;
   transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
 }
 
 .card:hover {
   transform: scale(1.05);
   box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
 }
 
 .card__content {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   padding: 20px;
   box-sizing: border-box;
   background-color: #f2f2f2;
   transform: rotateX(-90deg);
   transform-origin: bottom;
   transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
 }
 
 .card:hover .card__content {
   transform: rotateX(0deg);
 }
 
 .card__title {
   margin: 0;
   font-size: 24px;
   color: #1b09a7;
   font-weight: 700;
 }
 
 .card:hover img{
   scale: 0;
 }
 
 .card__description {
   margin: 10px 0 0;
   font-size: 14px;
   color: #777;
   line-height: 1.4;
 }
 
 #white-part-contact{
   color: #1b09a7;
   margin-top: -2vh;
   padding-bottom: 15vh;
 }

.white-part{
   background: #cdcdcd;
}


.form-wrapper{
   display: flex;
   justify-content: center;
   padding-bottom: 20vh;
   margin-top: -10vh;
}

.form-area{
   display: flex;
   align-items: center;
   justify-content: center;
   width: 500px;
   height: 600px;
   background: rgb(205,205,205);
   box-shadow:  35px 35px 60px #adacac,
               -35px -35px 60px #f3f3f3;
   border-radius: 25px;
   flex-wrap: wrap;
}

.details-area{
   display: flex;
   align-items: center;
   flex-direction: column;
   row-gap: 2rem;
   padding-top: 10%;
   padding-bottom: 10%;
   height: 100%;
}

#input-text{
   width: 250px;
   height: 60px;
   border-radius: 25px;
   color: #1b09a7;
   padding: 25px;
   border: 0;
   outline: 0;
   font-size: 1.15rem;
   text-align: left;
   transition: 0.5s ease-out;
   background: linear-gradient(0deg, rgb(205,205,205), rgb(205,205,205));;
   box-shadow:  20px 20px 50px #adacac,
               -20px -20px 50px #f3f3f3;
}

#input-email{
   width: 250px;
   color: #1b09a7;
   height: 60px;
   border-radius: 25px;
   padding: 25px;
   border: 0;
   outline: 0;
   font-size: 1.15rem;
   text-align: left;
   transition: 0.5s ease-out;
   background: linear-gradient(0deg, rgb(205,205,205), rgb(205,205,205));;
   box-shadow:  20px 20px 50px #adacac,
               -20px -20px 50px #f3f3f3;
}

#input-text:focus{
   height: 60px;
   width: 350px;
}

#input-email:focus{
   height: 60px;
   width: 350px;
}

.details-area input[type=submit]{
   width: 350px;
   height: 150px;
   text-align: center;
   border-radius: 25px;
   border: 0;
   outline: 0;
   color: #333;
   font-size: 1.15rem;
   transition: 0.5s ease;
   background: linear-gradient(0deg, rgb(205,205,205), rgb(205,205,205));;
   box-shadow:  20px 20px 50px #adacac,
               -20px -20px 50px #f3f3f3;
}

.details-area input[type=submit]:hover{
   font-size: 1.5rem;
   color: #333;
   box-shadow: 0px 5px 15px #e6e6e6;
}

.message-area{
   text-align: center;
   justify-content: center;
   height: 100%;
   width: 100%;
}

.message-area textarea{
   width: 300px;
   height: 175px;
   border-radius: 25px;
   padding: 15px;
   border: 0;
   color: #1b09a7;
   outline: 0;
   text-align: left;
   font-size: 1.15rem;
   overflow: hidden;
   transition: 0.5s ease-out;
   resize: none;
   background: linear-gradient(0deg, rgb(205,205,205), rgb(205,205,205));;
   box-shadow:  20px 20px 50px #adacac,
               -20px -20px 50px #f3f3f3;
}

.message-area textarea:focus{
   height: 200px;
   width: 350px;
}

.success-or-error{
   height: 30%;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.form-result p{
   color: #f2f2f2;
}

.success{
   background-color: rgb(7, 85, 7);
   border-radius: 5px;
   padding: 5px;
}

.error{
   background-color: rgb(174, 0, 0);
   border-radius: 5px;
   padding: 5px;
}

.scroll-to-top-style img{
   width: 80px;
   height: 80px;
   position: fixed;
   bottom: 30vh;
   right: 50px;
   opacity: 0;
   transition: 0.5s ease-out;
   cursor:default;
}

.scroll-to-top-style.active-to-top img{
   bottom: 35vh;
   opacity: 1;
   cursor: pointer;
}

.no-scroll{
   overflow: hidden;
} 

/* Footer */

/* TOP */
.wrap-social{
   background: black;
}

.social-media{
   display: flex;
   justify-content: space-between;
}

.social-media img{
   display: block;
   width: 50px;
   margin: 0.5rem;
   transition: 0.5s;
}

.social-media p{
   margin: auto 0;
   font-weight: 500;
   color:#f2f2f2;
}

.social-media img:hover{
   transform: scale(1.1);
}

/* MIDDLE */

.footer-middle{
   background: #05011e;
}

.footer-middle-all{
   display: flex;
   justify-content: space-between;
}

.footer-one,
.footer-two,
.footer-three {
  flex: 1;
  padding: 2rem 0.25rem;
}

.footer-one{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: center;
   padding-left: 1rem;
}

.footer-one a{
   color: #f2f2f2;
   text-decoration: none;
   font-size: 1.15rem;
   line-height: 2.5rem;
   transition: 0.4s;
}

.footer-one a:hover{
  transform: scale(1.1) translateX(1rem);
}

.footer-two{
   padding: 1rem;
   font-size: 1.15rem;
   color: #f2f2f2;

}

.footer-two h2{
   font-size: 1.5rem;
   margin-bottom: 2rem;
}

.letu-zdar{
   font-size: 1.25rem;
   font-weight: 600;
}

.contact-small{   
   display: flex;
   flex-direction: column;
}

.contact-small-one{
   font-size: 1rem;
   color: #f2f2f2;
   line-height: 2rem;
   padding-bottom: 20px;
}

.contact-small-one p{
   line-height: 1.5rem;
   text-align: end;
}

.contact-small-one h3{
   text-align: end;
}


.contact-small-two{
   font-size: 1rem;
   color: #f2f2f2;
   line-height: 2rem;
}

.contact-small-two p{
   line-height: 1.5rem;
   text-align: end;
}

.contact-small-two h3{
   text-align: end;
}


.wrap-madeby{
   background-color: #000000;
}

.made-by p{
   text-align: center;
   color: #fff;
   font-weight: 500;
   padding: 1rem;
}


.activated a{
   color: rgb(142, 144, 255);
}