@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
}

html{
   scroll-behavior:smooth;
}


/* Zarování */
.row{
   max-width: 1350px;
   margin: 0 auto;
}


/* HEADER */



.logo a img{
   position: absolute;
   top: 0.25%;
   transition: 0.4s ease;
   width: 80px;
}

.logo a img:hover{
   transform: rotate(10deg) scale(1.25);
}

.navbar {
   top:0;
   left: 0;
   width: 100%;
   padding: 25px 75px;
   display: flex;
   justify-content: flex-end;
   z-index: 100;
}

.navbar-wrap {
   width: 100%;
   background: #cdcdcd;
}

nav .ease-a{
   font-size: 1.5rem;
   color:#1b09a7;
   font-weight: 400;
   text-decoration: none;
   margin-left: 15px;
   border-radius: 15px;
   transition: 1s ease;
   cursor: pointer;
}


nav .ease-a:hover{
   transform: translateY(0.1rem)
}

nav .ease-a::before{
   content: '';
   height: 2px;
   width: 0%;
   background-color: #e6e6e6;
   position: absolute;
   transition: 0.5s;
   bottom: -8px;
}

nav .ease-a:hover::before{
   content: '';
   height: 2px;
   width: 100%;
   position: absolute;
   background-color: #1b09a7;
}

.ham-bar-men{
   position: absolute;
   right: 50px;
   top: 5vh;
   display: flex;
   justify-content: end;
}

.hamburger{
   position: relative;
   display:block;
   width: 55px;
   cursor: pointer;
   appearance: none;
   background: none;
   outline: none;
   border: none;
   z-index: 99;

}

.hamburger .bar, .hamburger::after, .hamburger::before{
   content: '';
   display: block;
   width: 100%;
   height: 10px;
   background-color: #f3f3f3;
   margin: 6px 0px;
   transition: 0.4s;
}

.hamburger.is-active::before{
   transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active::after{
   transform: rotate(45deg) translate(-15px, -16px);
}

.hamburger.is-active .bar{
   opacity: 0;
}

.mobile-nav-other-side-anim{
   content:'';
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   right: 100%;
   background-color: rgba(0, 0, 0, 0.8);
   z-index: 96;
   transition: 0.4s ease-out;
}

.mobile-nav{
   display: flex;
   flex-direction: column;
   align-items: center;
   column-gap: 20px;
   position: fixed;
   top:0;
   left: 100%;
   width: 70%;
   min-height: 100vh;
   z-index: 98;
   opacity: 0;
   background-color: rgb(142, 144, 255);
   padding-top: 120px;
   transition:left 0.4s ease-out, opacity 0.5s ease-out;
}

.mobile-nav.is-active{
  left:30%;
  opacity: 1;
}

.mobile-nav-other-side-anim.is-active{
   right:70%;
}

.mobile-nav-text{
   margin-top: 1rem;
}

.mobile-nav a{
   display: block;
   width: 80%;
   max-width: 300px;
   text-align: left;
   margin-bottom: 16px;
   margin-left: 20px;
   margin-right: 20px;
   padding: 12px 16px;
   background-color: #fff;
   color: #1b09a7;
   border-radius: 25px;
   text-decoration: none;
   font-size: 1.15rem;
   font-weight: 600;
   box-shadow:  3px 3px 30px #0000009f;
}

.mobile-nav p{
   color: #1b09a7;
   text-align: center;
   font-size: 0.75rem;
   margin-left: 30px;
   margin-right: 30px;
}

.mobile-nav p i{
   margin-right: 10px;
}

.mobile-nav p:nth-child(1){
   font-size: 0.75rem;
}

.mobile-nav a i{
   margin-right: 20px;
   margin-left: 10px;
}


.welcome-text-wrapper{
   position: relative;
}

.welcome-text h1{
   position: absolute;
   top: 30vh;
   width: 75%;
   font-size: clamp(35px, 5vh, 100px);
   color: #fff;
   z-index: 95;
}

.slider{
   width:100%;
   overflow: hidden;
}

.slides{
   width: 500%;
   height: 80vh;
   display: flex;
}

.slides input{
   display: none;
}

.slide {
   width: 20%;
   overflow: hidden;
   display: flex; 
   justify-content: center; 
   align-items: center;
   transition: 2s;
}

.slide img {
   width: 100%;
   height: 100%;
   display: block;
   object-fit: cover;
}

.radio-manual{
   display: flex;
   justify-content: center;
   align-items: start;
}

.navigation-manual{
   position: absolute;
   margin-top: -75vh;
   display: flex;
}

.manual-btn{
   border: 2px solid #fffde8;
   padding: 0.5rem;
   border-radius: 1rem;
   cursor: pointer;
   transition:0.5s;
   margin-left: -15px;
}

.manual-btn:not(:last-child){
   margin-right: 40px;
}

.manual-btn:hover{
   background: #1b09a7;
   border: 2px solid #fff;
   border-radius: 5px;
   transform: scale(1.5);
}

#radio1:checked ~ .first{
   margin-left: 0;
}
#radio2:checked ~ .first{
   margin-left: -20%;
}
#radio3:checked ~ .first{
   margin-left: -40%;
}
#radio4:checked ~ .first{
   margin-left: -60%;
}
#radio5:checked ~ .first{
   margin-left: -80%;
}


/* MAIN */

main{
   position: relative;
   background: #cdcdcd;
}

.about-us{
   display: flex;
   flex-direction: row;
   padding-bottom: 10vh;
}


.about-us-section{
   z-index: 2;
}

.about-us-section p a{
   text-decoration: none;
   color: #fff;
   font-weight: 700;
}

.about-us-text a, .about-us-text iframe{
   z-index: 2;
}

.about-us-text:nth-child(2){
   flex: 2;
}

.about-us-text:nth-child(1),
.about-us-text:nth-child(3){
   top: -3vh;
}

.about-us-text{
   display: flex;
   flex-direction: column;
   align-items:center;
   justify-content: space-between;
   flex:1;
   position: relative;
   background: #1b09a7;
   top: -5rem;
   margin: 5px;
   padding: 25px;
   border-radius: 25px 25px 25px 25px;
   color: #fff;
   text-align: center;
   box-shadow:  0px 10px 15px #575757;
}


.about-us-text::after{
   content: ' ';
   display: block;
   position: absolute;
   left: 0;
   top: 0;
   border-radius: 25px 25px 25px 25px;
   width: 100%;
   height: 100%;
   opacity: 1;
   background-image: url(../images/background-img-second-ed.webp);
   background-size: cover;
   background-blend-mode:darken;
   background-position: center;
   background-repeat: no-repeat;
}

.about-us-text p{
   margin-bottom: 3vh;
   font-size: 1rem;
}


.about-us-text img {
   width: 90%;
   aspect-ratio: 4/3;
   cursor: pointer; 
   border-radius: 25px 25px 25px 25px;
   box-shadow:  3px 3px 30px #0000009f;
   filter: grayscale(100%);
}

.about-us-text iframe{
   border-radius: 25px 25px 25px 25px;
   box-shadow:  3px 3px 30px #0000009f;
}

.about-us-text h3{
   font-size: 1.5rem;
   font-weight: 600;
}

.about-us-section p{
   margin-top: 1.5rem;
}

.major-title{
   display: flex;
   justify-content: center;
}

.title-header2 h2{
   color:#1b09a7;
   font-weight: 700;
   text-align: center;
   margin-bottom: 5vh;
   letter-spacing: 10px;
}

.filler-text-wrap{
   display: flex;
   justify-content: center;
   flex: 1;
}

.filler-text{
   flex: 1;
   z-index: 2;
}
.filler-text p{
   margin-top: 5%;
   margin-bottom: 5%;
   color: #1b09a7;
   font-size: 1.5rem;
   font-weight: 400;
   text-align:center;
}

.filler-text p span{
   font-weight: 700;
}

.weather-card{
   position: relative;
   margin-top: 50px;
   background: rgb(205,205,205);
   box-shadow:  25px 25px 45px #adacac,
               -25px -25px 45px #f3f3f3;
   border-radius: 25px;
}

.weather-card::before{
   content: ' ';
   display: block;
   position: absolute;
   left: 0;
   top: 0;
   border-radius: 25px;
   width: 100%;
   height: 100%;
   opacity: 0.5;
   background-image: url(../images/background-img-second-ed.webp);
   background-size: cover;
   background-blend-mode:darken;
   background-position: center;
   background-repeat: no-repeat;
}

.weather{
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex-wrap:wrap;
   min-height: 15vh;
   padding: 20px;
   margin-bottom: 105px;
   z-index: 10;
}

.weather-icon{
   width: 100px;
   height: 100px;
   margin-right: 2rem;
   z-index: 10;
}

.weather p{
   color: #1b09a7;
   font-size: 1.5rem;
   font-weight: 500;
   z-index: 10;
}

.main-details-nemcice{
   display: flex;
   align-items: center;
}

.col{
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.col img{
   margin-right: 1rem;
   margin-left: 3rem;
   width: 50px;
   height: 50px;
}

.operating-rules-wrapper{
   display: flex;
   justify-content: center;
   text-align: center;
   padding: 10px;
   margin-bottom: 10vh;
}

.operating-rules{
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   text-decoration: none;
   color: #1b09a7;
   text-align: center;
   font-size: 1.75rem;
   width: 400px;
   height: 75px;
   border-radius: 25px;
   background: rgb(205,205,205);
   box-shadow:  15px 15px 35px #adacac,
               -15px -15px 35px #f3f3f3;
   transition: 0.5s;
}

.operating-rules::before{
   content: ' ';
   display: block;
   position: absolute;
   left: 0;
   top: 0;
   border-radius: 25px;
   width: 100%;
   height: 100%;
   opacity: 0.75;
   background-image: url(../images/background-img-second-ed.webp);
   background-size: cover;
   background-blend-mode:darken;
   background-position: center;
   background-repeat: no-repeat;
}

.operating-rules:hover{
   color: rgb(142, 144, 255);
}

.operating-rules i{
   margin-right: 20px;
}

.coordination-wrapper{
   display: flex;
   justify-content: center;
   text-align: center;
   padding: 10px;
}

.coordination{
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   text-decoration: none;
   color: #1b09a7;
   text-align: center;
   padding: 10px;
   font-size: 1.75rem;
   width: 400px;
   height: 75px;
   border-radius: 25px;
   background: rgb(205,205,205);
   box-shadow:  15px 15px 35px #adacac,
               -15px -15px 35px #f3f3f3;
   transition: 0.5s;
}

.coordination::before{
   content: ' ';
   display: block;
   position: absolute;
   left: 0;
   top: 0;
   border-radius: 25px;
   width: 100%;
   height: 100%;
   opacity: 0.75;
   background-image: url(../images/background-img-second-ed.webp);
   background-size: cover;
   background-blend-mode:darken;
   background-position: center;
   background-repeat: no-repeat;
}

.coordination:hover{
   color: rgb(142, 144, 255);
}

.coordination i{
   margin-right:20px;
}

.text-lawnmover{
   margin-top: 8vh;
   margin-bottom: 3vh;
}

.text-lawnmover p{
   color: #1b09a7;
   font-size: 1.5rem;
   font-weight: 400;
   text-align:center;
}

.text-lawnmover p span{
   font-weight: 700;
}


.mountain{
   position: relative;
}

.mountain img{
   max-width: 200px;
   max-height: 200px;
   position: absolute;
   left: 1000px;
   top:-100px;
   z-index: 4;
}

.airfield {
   position: relative;
}

.airfield img{
   max-width: 200px;
   max-height: 200px;
   position: absolute;
   left: 100px;
   top:-110px;
   z-index: 4;
}

.tractor-wrapper{
   height: 100px;
}

.tractor {
   position: relative;
   max-width: 100%;
   margin-top: 10vh;
}

.tractor img {
   max-width: 75px;
   max-height: 75px;
   position: absolute;
   left: 0;
   bottom: -100px;
   z-index: 5;
   cursor: pointer;
}

.our-airport-z-in {
   position: relative;
}

.our-airport-z-in::before{
   content: ' ';
   display: block;
   position: absolute;
   left: 0;
   top: -150px;
   width: 100%;
   height: 200px;
   opacity: 1;
   background:  linear-gradient(0deg, rgb(142,144,255) 0%, rgba(205,205,205,1) 50%, rgba(205,205,205,1) 100%);
}

.our-airport-names {
   display: flex;
   justify-content:center;
   margin-bottom: 2.5vh;
   padding: 0.75rem;
   background: #1b09a7;
   box-shadow: 15px 15px 35px #858585;
   border-radius: 12px;
   filter: grayscale(25%);
   z-index: 6;
   position: relative;
}

.our-airport-names::before{
   content: ' ';
   display: block;
   position: absolute;
   left: 0;
   top: 0;
   border-radius: 12px;
   width: 100%;
   height: 100%;
   opacity: 1;
   background-image: url(../images/background-img-second-ed.webp);
   background-size: cover;
   background-blend-mode:darken;
   background-position: center;
   background-repeat: no-repeat;
   z-index: 3;
}


.our-airport-names p{
   font-size: 2rem;
}

.threed-model{
   text-align: center;
   flex: 2;
   color: #fff;
   font-weight: 500;
   z-index: 5;
}

.connection{
   text-align: center;
   flex: 1;
   color: #fff;
   font-weight: 300;
   z-index: 5;
}

.photo-of-airport{
   position: relative;
   text-align: center;
   flex: 2;
   color: #fff;
   font-weight: 500;
   z-index: 5;
}

.our-airport-photo{
   display: flex;
   justify-content: space-around;

}

.photo-map-one,
.photo-map-two {
   display: flex;
   flex: 1;
   max-width: 100%;
   margin: 3rem 0 6rem 0;
   position: relative;
}

.photo-map-one{
   position: relative;
}

.photo-map-one::after{
   content: '\f25a';
   font-family: "Font Awesome 5 Free"; 
   font-weight: 400; 
   font-size: 20px;
   position: absolute;
   bottom: 10%;
   right: 20%;
   color: #fff;
   opacity: 0.5;
}

.photo-map-one iframe{
   width: 75%;
   margin: 0 auto;
   border-radius: 25px;
}

.photo-map-two::after{
   content: '\f25a';
   font-family: "Font Awesome 5 Free"; 
   font-weight: 400; 
   font-size: 20px;
   position: absolute;
   bottom: 10%;
   right: 20%;
   color: #fff;
   opacity: 0.5;
}

.card__article {
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   overflow: hidden;
}

.card__image {
   width: 80%;
   height: auto;
   margin: 0 auto;
   object-fit: cover;
   border-radius: 25px;
}

.card__data {
   width: 70%;
   background-image: url(../images/background-img-second-ed.webp);
   background-color: #ffffff;
   padding: 1.5rem 2rem;
   border-radius: 25px;
   position: absolute;
   bottom: -10rem;
   left: 0;
   right: 0;
   margin: 0 auto;
   opacity: 0;
   transition: opacity 1s 1s;
}

.card__descr {
   display: block;
   font-size: 1rem;
   margin-bottom: 0.25rem;
}

.card__titleh3 {
   font-size: 1.5rem;
   font-weight: 600;
   color: #1b09a7;
   margin-bottom: 0.75rem;
}

.card__article:hover .card__data {
   animation: show-data 1s forwards;
   opacity: 1;
   transition: opacity 0.3s;
}

.card__article:hover {
   animation: remove-overflow 1.5s forwards; 
}

.card__article:not(:hover) {
   animation: show-overflow 1.5s forwards;
}

.card__article:not(:hover) .card__data {
   animation: remove-data 1s forwards;
}


.blue-part{
   position: relative;
   background-image: url(../images/background-blue-part.webp);
   background-attachment:fixed;
   background-size: contain;
   z-index: 1;
}

.blue-part::before{
   content: ' ';
   display: block;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   opacity: 0.5;
   background-image: url(../images/background-img-first-ed.webp);
   background-size: cover;
   background-blend-mode:darken;
   background-position: center;
   background-repeat: no-repeat;
}

#title-blue-part1{
   padding-top: 15vh;
   padding-bottom: 5vh;
   color: white;
   font-size: 4rem;
}

#title-blue-part2{
   color: #1b09a7;
   padding-top: 15vh;
   padding-bottom: 5vh;
   font-size: 4rem;
}

#title-blue-part3{
   font-size: 4rem;
}

.about-club{
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   justify-content: space-evenly;
   column-gap: 100px;
}

.about-club-wrapper{
   background-color: #0e045a;
}

#filler-one{
   text-align: left;
   color: #fff;
   font-weight: 400;
}

#filler-two{
   text-align: right;
   color: #fff;
   font-weight: 400;
}

#filler-three{
   text-align: center;
   color: #fff;
   margin-top: 0%;
   margin-bottom: 10%;
}

.odometers{
   display: flex;
   column-gap: 2%;
   justify-content: end;
   align-items: end;
}

.odometer-rolling{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.odometer-wrapper{
   flex: 1;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   position: relative;
   max-width: 400px;
   max-height: 550px;
   color: #1b09a7;
   border-radius: 25px;
   background-color: rgb(205,205,205);
   padding: 20px;
   text-align: center;
   margin-bottom: 5%;
   z-index: 2;
   box-shadow:  3px 3px 30px #0000009f;
}

.odometer-wrapper::before{
   content: ' ';
   display: block;
   position: absolute;
   left: 0;
   top: 0;
   border-radius: 25px;
   width: 100%;
   height: 100%;
   opacity: 0.5;
   background-image: url(../images/background-img-second-ed.webp);
   background-size: cover;
   background-blend-mode:darken;
   background-position: center;
   background-repeat: no-repeat;
}

.odometer-details{
   display: flex;
   flex-direction: column;
}

.subs-odometer{
   font-size: 8rem;
   font-weight: 800;
   letter-spacing: 1px;
}

.odometer-icon{
   padding-top: 10%;
   z-index: 10;
}

.odometer-icon img{
   width: 40%;
}

.odometer-text{
   z-index: 10;
   color: rgb(142, 144, 255);
}

.odometer-text p{
   font-size: 1.5rem;
   font-weight: 600;
}

.more-odometer{
   font-size: 1rem;
   font-weight: 500;
   color: #fff;
   z-index: 10;
}

.more-odometer span{
   font-size: 1.5rem;
}

.subs-odometer.odometer1,
.subs-odometer.odometer3{
   font-size: 4rem;
}

.odometers .odometer-wrapper:nth-child(1),
.odometers .odometer-wrapper:nth-child(3){
   max-height: 400px;
   padding: 30px;
   max-width: 300px;
}


.photogallery-ind{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   column-gap: 2rem;
   row-gap: 2rem;
   justify-content: center;
   padding-top: 10vh;
   padding-bottom: 10vh;
}

.card {
   position: relative;
   width: 30%;
   height: 20%;
   background-color: #dfdfdf;
   border-radius: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
   overflow: hidden;
   perspective: 1000px;
   transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
 }
 
 .card img{
   width: 105%;
   height: 105%;
   fill: #333;
   filter: grayscale(70%);
   transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
 }

 .card::after{
   content: '\f25a';
   font-family: "Font Awesome 5 Free"; 
   font-weight: 400; 
   font-size: 20px;
   position: absolute;
   bottom: 5%;
   right: 5%;
   color: #fff;
   opacity: 0.5;
 }

 .card:hover {
   transform: scale(1.05);
   box-shadow: 0 16px 24px #0e045a;
 }
 
 .card__content {
   position: absolute;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   padding: 20px;
   box-sizing: border-box;
   background-color: #fff;
   transform: rotateX(-90deg);
   transform-origin: bottom;
   transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
 }
 
 .card:hover .card__content {
   transform: rotateX(0deg);
 }
 
 .card__title {
   margin: 0;
   font-size:2.5rem;
   color: #1b09a7;
   font-weight: 700;
   text-align: center;
 }
 
 .card:hover img{
   scale: 0;
 }
 
 .card__description {
   margin: 10px 0 0;
   font-size: 1.25rem;
   color: #777;
   text-align: center;
 }
 
 #white-part-contact{
   color: #1b09a7;
   margin-top: -2vh;
   margin-bottom: 5vh;
   text-align: center;
 }


.white-part{
   position: relative;
   background: #cdcdcd;
}

.profile-wrapper{
   display: flex;
   margin-top: 5vh;
   margin-bottom: 5vh;
   justify-content:space-around;
   align-items: center;
}

.profile {
   transition: all 0.3s;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   filter: grayscale(100%);
}

.profile::after{
   content: '\f25a'; 
  font-family: "Font Awesome 5 Free"; 
  font-weight: 400; 
  font-size: 20px;
  position: absolute;
  bottom: 25%;
  right: 25%;
  opacity: 0.5;
  color: #fff; 
}

.profile:hover {
   transform: translateY(25px);
   filter: grayscale(0%);
}

.profile img {
   max-width: 70%;
   border-radius: 50%;
   border: 5px solid #cdcdcd;
   box-shadow:  5px 5px 15px #adacac,
               -5px -5px 15px #f3f3f3;
   cursor: pointer;
}

.profile .name {
   position: absolute;
   background-color: #1b09a7;
   color: #fff;
   padding: 15px 30px;
   border-radius: 0 20px 20px 0;
   top: 50%;
   left: 90%;
   white-space: nowrap;
   transform: translate(-50%, -50px);
   letter-spacing: 1px;
   font-size: 1rem;
   font-weight: 600;
   opacity: 0;
   transition: all 0.3s;
   text-align: center;
}

.profile.profile-reversed .name{
   position: absolute;
   background-color: #1b09a7;
   color: #fff;
   padding: 15px 30px;
   border-radius: 20px 0 0 20px;
   top: 50%;
   left: -31.5%;
   font-weight: 600;
   white-space: nowrap;
   transform: translate(-50%, -50px);
   letter-spacing: 1px;
   font-size: 1rem;
   opacity: 0;
   transition: all 0.3s;
   text-align: center;
}

.profile .scnname{
   font-size: 0.75rem;
   font-weight: 300;
   color: rgb(142, 144, 255);
}

.profile .name::before {
   content: "";
   position: absolute;
   width: 15px; height: 15px;
   background-color: rgb(142, 144, 255);
   top: 50%; 
   left: 0;
   transform: translate(-50%, -50%) rotate(45deg);
}

.profile.profile-reversed .name::before{
   content: "";
   position: absolute;
   width: 15px; height: 15px;
   background-color: rgb(142, 144, 255);
   top: 50%; 
   left: 100%;
   transform: translate(-50%, -50%) rotate(45deg);
}

.profile img:hover + .name {
   opacity: 1;
   transform: translateY(-50%);
   box-shadow: 0 10px 20px rgba(86, 86, 198, 0.3);
}


.form-text p{
   position: absolute;
   top: 65%;
   left: 5%;
   text-transform: uppercase;
   font-size: 8rem;
   color: rgb(255, 255, 255);
   font-weight: 800;
   transform: rotate(-90deg);
   filter: blur(10px) contrast(25%);
}

.form-section-wrapper{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding-bottom: 20vh;
}

.form-container {
   position: relative;
   z-index: 2;
}

.form-heading {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #1b09a7;
   width: 300px;
   height: 50px;
   border-radius: 25px 25px 0 0;
   position: relative;
   box-shadow:  15px 15px 30px #adacac,
               -15px -15px 30px #f3f3f3;
}

.form-heading::before {
   content: ' ';
   display: block;
   position: absolute;
   left: 0;
   top: 0;
   border-radius: 25px 25px 0 0;
   width: 100%;
   height: 100%;
   opacity: 1;
   background-image: url(../images/background-img-second-ed.webp);
   background-size: cover;
   background-blend-mode: darken;
   background-position: center;
   background-repeat: no-repeat;
   z-index: 1; 
}

.form-heading p {
   font-size: 1.5rem;
   text-align: center;
   color: rgb(142, 144, 255);
   position: relative;
   z-index: 2; 
}

.form-heading i {
   font-size: 1.5rem;
   margin-right: 10px;
   color: #fff;
}




.form-area{
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 500px;
   height: 600px;
   background: rgb(205,205,205);
   box-shadow:  35px 35px 60px #adacac,
               -35px -35px 60px #f3f3f3;
   border-radius: 25px;
   flex-wrap: wrap;
}

.form-area::before{
   content: ' ';
   display: block;
   position: absolute;
   left: 0;
   top: 0;
   border-radius: 25px;
   width: 100%;
   height: 100%;
   opacity: 0.3;
   background-image: url(../images/background-img-second-ed.webp);
   background-size: cover;
   background-blend-mode:darken;
   background-position: center;
   background-repeat: no-repeat;
}


.details-area{
   display: flex;
   align-items: center;
   flex-direction: column;
   row-gap: 2rem;
   padding-top: 10%;
   padding-bottom: 10%;
   height: 100%;
}

#input-text{
   width: 250px;
   height: 60px;
   border-radius: 25px;
   color: #1b09a7;
   padding: 25px;
   border: 0;
   outline: 0;
   font-size: 1.15rem;
   text-align: left;
   transition: 0.5s ease-out;
   background: linear-gradient(0deg, rgb(205,205,205), rgb(205,205,205));;
   box-shadow:  20px 20px 50px #adacac,
               -20px -20px 50px #f3f3f3;
}

#input-email{
   width: 250px;
   color: #1b09a7;
   height: 60px;
   border-radius: 25px;
   padding: 25px;
   border: 0;
   outline: 0;
   font-size: 1.15rem;
   text-align: left;
   transition: 0.5s ease-out;
   background: linear-gradient(0deg, rgb(205,205,205), rgb(205,205,205));;
   box-shadow:  20px 20px 50px #adacac,
               -20px -20px 50px #f3f3f3;
}

#input-text:focus{
   height: 60px;
   width: 350px;
}

#input-email:focus{
   height: 60px;
   width: 350px;
}

.details-area input[type=submit]{
   width: 350px;
   height: 150px;
   text-align: center;
   border-radius: 25px;
   border: 0;
   outline: 0;
   color: #1b09a7;
   font-size: 1.15rem;
   transition: 0.5s ease;
   background: linear-gradient(0deg, rgb(205,205,205), rgb(205,205,205));;
   box-shadow:  20px 20px 50px #adacac,
               -20px -20px 50px #f3f3f3;
}

.details-area input[type=submit]:hover{
   font-size: 1.5rem;
   color: rgb(142, 144, 255);
}

.message-area{
   text-align: center;
   justify-content: center;
   height: 100%;
   width: 100%;
}

.message-area textarea{
   width: 300px;
   height: 175px;
   border-radius: 25px;
   padding: 15px;
   border: 0;
   color: #1b09a7;
   outline: 0;
   text-align: left;
   font-size: 1.15rem;
   overflow: hidden;
   transition: 0.5s ease-out;
   resize: none;
   background: linear-gradient(0deg, rgb(205,205,205), rgb(205,205,205));;
   box-shadow:  20px 20px 50px #adacac,
               -20px -20px 50px #f3f3f3;
}

.message-area textarea:focus{
   height: 200px;
   width: 350px;
}

.success-or-error{
   height: 30%;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.form-result p{
   color: #f2f2f2;
}

.success{
   background-color: rgb(7, 85, 7);
   border-radius: 5px;
   padding: 5px;
}

.error{
   background-color: rgb(174, 0, 0);
   border-radius: 5px;
   padding: 5px;
}
  

  
.scroll-to-top-style img{
   width: 40px;
   height: 40px;
   position: fixed;
   bottom: 25vh;
   right: 30px;
   opacity: 0;
   transition: 0.5s ease-out;
   cursor:default;
   z-index: 1000;
}

.scroll-to-top-style.active-to-top img{
   bottom: 25vh;
   opacity: 1;
   cursor: pointer;
}

.no-scroll{
   overflow: hidden;
} 

/* Footer */

/* TOP */
.wrap-social{
   background: #000;
}

.social-media{
   display: flex;
   justify-content: space-between;
}

.social-media img{
   display: block;
   width: 50px;
   margin: 0.5rem;
   transition: 0.5s;
}

.social-media p{
   margin: auto 0;
   font-weight: 500;
   color:#f2f2f2;
}

.social-media img:hover{
   transform: scale(1.1);
}

/* MIDDLE */

.footer-middle{
   background-image: url(../images/background-blue-part.webp);
   background-repeat: no-repeat;
   background-size: cover;
}

.footer-middle-all{
   display: flex;
   justify-content: space-between;
}

.footer-one,
.footer-two,
.footer-three {
  flex: 1;
  padding: 2rem 0.25rem;
}

.footer-one{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: center;
   padding-left: 1rem;
}

.footer-one a{
   color: #f2f2f2;
   text-decoration: none;
   font-size: 1.15rem;
   line-height: 2.5rem;
   transition: 0.4s;
}

.footer-one a:hover{
  transform: scale(1.1) translateX(1rem);
}

.footer-two{
   padding: 1rem;
   font-size: 1.15rem;
   color: #f2f2f2;

}

.footer-two h2{
   font-size: 1.5rem;
   margin-bottom: 2rem;
}

.letu-zdar{
   font-size: 1.25rem;
   font-weight: 600;
}

.contact-small{   
   display: flex;
   flex-direction: column;
}

.contact-small-one{
   font-size: 1rem;
   color: #f2f2f2;
   line-height: 2rem;
   padding-bottom: 20px;
}

.contact-small-one p{
   line-height: 1.5rem;
   text-align: end;
}

.contact-small-one h3{
   text-align: end;
}


.contact-small-two{
   font-size: 1rem;
   color: #f2f2f2;
   line-height: 2rem;
}

.contact-small-two p{
   line-height: 1.5rem;
   text-align: end;
}

.contact-small-two h3{
   text-align: end;
}


.wrap-madeby{
   background-color: #000000;
}

.made-by p{
   text-align: center;
   color: #fff;
   font-weight: 500;
   padding: 1rem;
}


.activated a{
   color: rgb(142, 144, 255);
}

.pop-up-event {
   background-color: #ffffff;
   background-image: url(../images/background-img-second-ed.webp);
   max-width: 90%;
   max-height: 80%;
   width: 500px;
   padding: 30px 40px;
   position: fixed; 
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   border-radius: 25px;
   z-index: 100;
   display: none;
}


.pop-up-event h2{
   text-align: center;
   color: #1b09a7;
   font-size: 2rem;
}

.pop-up-event button{
   display: block;
   margin: 0 0 1px auto;
   background-color: transparent;
   font-size: 30px;
   color: #0e045a;
   border: none;
   outline: none;
   z-index: 100;
   cursor: pointer;
   transition: 0.5s all;
}

.pop-up-event p{
   font-size: 1.15rem;
   text-align: justify;
   margin: 20px 0;
   z-index: 100;
}

.pop-up-event .second-part-event{
   text-align: center;
}

.pop-up-event p span{
   font-weight: 700;
}

.pop-up-event a{
   display: block;
   width: 200px;
   position: relative;
   text-align: center;
   background-color: #0e045a;
   color: #fff;
   text-decoration: none;
   padding: 20px 5px;
   z-index: 100;
   border-radius: 25px;
   margin: 35px auto;
   transition: all 0.5s;
}

.pop-up-event a:hover{
   transform: scale(1.25);
}

#overlay {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.5); 
   z-index: 99;
   display: none;
   cursor: pointer;
}



@keyframes lawnmoving {
   0% {
      left: 0%; 
   }

   100% {
      left: calc(40% - 75px);
   }
}

@keyframes show-data {
   50% {
      transform: translateY(-12rem);
   }
   100% {
      transform: translateY(-7rem);
   }
}

@keyframes remove-overflow {
   to {
      overflow: initial;
   }
}

@keyframes remove-data {
   0% {
      transform: translateY(-7rem);
   }
   50% {
      transform: translateY(-12rem);
   }
   100% {
      transform: translateY(-0.5rem);
   }
}

@keyframes show-overflow {
   0% {
      overflow: initial;
      pointer-events: none;
   }
   50% {
      overflow: hidden;
   }
}